openapi: 3.0.0
info:
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen
  description: |
    API voor het zoeken en raadplegen van historische verblijfplaatsen, partners, nationaliteiten en verblijfstitels uit de BRP (inclusief de RNI).

    Zie de [Functionele documentatie](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen/tree/v1.0.0/features) voor nadere toelichting.
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  title: BRP historie bevragen
  version: 0.0.1 (develop)
servers:
- description: APILAB testserver historie
  url: https://www.haalcentraal.nl/haalcentraal/api/brphistorie
tags:
- name: BRP historie bevragen
paths:
  /ingeschrevenpersonen/{burgerservicenummer}/verblijfplaatshistorie:
    get:
      description: |
        Zoek de verblijfplaatshistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.
        Als je geen peildatum of periode opgeeft, krijg je alle verblijfplaatsen terug. Het meest actuele adres staat bovenaan.
      operationId: Getverblijfplaatshistorie
      parameters:
      - description: |
          Uniek persoonsnummer
        explode: false
        in: path
        name: burgerservicenummer
        required: true
        schema:
          example: "555555021"
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
        style: simple
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: De datum waarop de resource wordt opgevraagd.
        explode: true
        in: query
        name: peildatum
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De begindatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumVan
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De einddatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumTotEnMet
        required: false
        schema:
          example: 2018-10-09
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VerblijfplaatshistorieHalCollectie'
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "501":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - BRP historie bevragen
      x-accepts: application/hal+json,application/problem+json
  /ingeschrevenpersonen/{burgerservicenummer}/partnerhistorie:
    get:
      description: |
        Zoek de partnerhistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.
        Als je geen peildatum of periode opgeeft, krijg je alle partners terug waarmee een partnerschap is aangegaan of een huwelijk is gesloten.
      operationId: Getpartnerhistorie
      parameters:
      - description: |
          Uniek persoonsnummer
        explode: false
        in: path
        name: burgerservicenummer
        required: true
        schema:
          example: "555555021"
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
        style: simple
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: De datum waarop de resource wordt opgevraagd.
        explode: true
        in: query
        name: peildatum
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De begindatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumVan
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De einddatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumTotEnMet
        required: false
        schema:
          example: 2018-10-09
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PartnerhistorieHalCollectie'
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "501":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - BRP historie bevragen
      x-accepts: application/hal+json,application/problem+json
  /ingeschrevenpersonen/{burgerservicenummer}/verblijfstitelhistorie:
    get:
      description: |
        Zoek de verblijfstitelhistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.
        Als je geen peildatum of periode opgeeft, krijg je alle verblijfstitels van de persoon terug. De meest actuele verblijfstitel staat bovenaan.
      operationId: getverblijfstitelhistorie
      parameters:
      - description: |
          Uniek persoonsnummer
        explode: false
        in: path
        name: burgerservicenummer
        required: true
        schema:
          example: "555555021"
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
        style: simple
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: De datum waarop de resource wordt opgevraagd.
        explode: true
        in: query
        name: peildatum
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De begindatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumVan
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De einddatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumTotEnMet
        required: false
        schema:
          example: 2018-10-09
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VerblijfstitelhistorieHalCollectie'
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "501":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - BRP historie bevragen
      x-accepts: application/hal+json,application/problem+json
  /ingeschrevenpersonen/{burgerservicenummer}/nationaliteithistorie:
    get:
      description: |
        Zoek de nationaliteithistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.
        Als je geen peildatum of periode opgeeft, krijg je alle nationaliteiten van de persoon terug. De meest actuele nationaliteit staat bovenaan.
      operationId: getnationaliteithistorie
      parameters:
      - description: |
          Uniek persoonsnummer
        explode: false
        in: path
        name: burgerservicenummer
        required: true
        schema:
          example: "555555021"
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
        style: simple
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: De datum waarop de resource wordt opgevraagd.
        explode: true
        in: query
        name: peildatum
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De begindatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumVan
        required: false
        schema:
          example: 2018-09-09
          format: date
          type: string
        style: form
      - description: De einddatum van de periode waarover de resource wordt opgevraagd.
        explode: true
        in: query
        name: datumTotEnMet
        required: false
        schema:
          example: 2018-10-09
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NationaliteithistorieHalCollectie'
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "501":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - BRP historie bevragen
      x-accepts: application/hal+json,application/problem+json
components:
  headers:
    api_version:
      explode: false
      schema:
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
        type: string
      style: simple
    warning:
      explode: false
      schema:
        description: zie RFC 7234. In het geval een major versie wordt uitgefaseerd,
          gebruiken we warn-code 299 ("Miscellaneous Persistent Warning") en het API
          end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd
          door de warn-text met de human-readable waarschuwing
        example: '299 https://service.../api/.../v1 "Deze versie van de API is verouderd
          en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie
          hier de documentatie: https://omgevingswet.../api/.../v1".'
        type: string
      style: simple
  parameters:
    burgerservicenummer:
      description: |
        Uniek persoonsnummer
      explode: false
      in: path
      name: burgerservicenummer
      required: true
      schema:
        example: "555555021"
        maxLength: 9
        minLength: 9
        pattern: ^[0-9]*$
        type: string
      style: simple
  schemas:
    NationaliteithistorieHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/NationaliteithistorieHalCollectieEmbedded'
      type: object
    NationaliteithistorieHalCollectieEmbedded:
      properties:
        nationaliteithistorie:
          items:
            $ref: '#/components/schemas/Nationaliteithistorie'
          type: array
      type: object
    Nationaliteithistorie:
      allOf:
      - $ref: '#/components/schemas/Nationaliteit'
      - $ref: '#/components/schemas/Nationaliteithistorie_allOf'
    VerblijfplaatshistorieHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/VerblijfplaatshistorieHalCollectieEmbedded'
      type: object
    VerblijfplaatshistorieHalCollectieEmbedded:
      properties:
        verblijfplaatshistorie:
          items:
            $ref: '#/components/schemas/VerblijfplaatshistorieHal'
          type: array
      type: object
    VerblijfplaatshistorieHal:
      allOf:
      - $ref: '#/components/schemas/Verblijfplaatshistorie'
      - $ref: '#/components/schemas/VerblijfplaatshistorieHal_allOf'
    Verblijfplaatshistorie:
      allOf:
      - $ref: '#/components/schemas/Verblijfplaats'
      - $ref: '#/components/schemas/Verblijfplaatshistorie_allOf'
    VerblijfplaatshistorieLinks:
      properties:
        adres:
          $ref: '#/components/schemas/HalLink'
        adresseerbaarObject:
          $ref: '#/components/schemas/HalLink'
      type: object
    PartnerhistorieHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/PartnerhistorieHalCollectieEmbedded'
      type: object
    PartnerhistorieHalCollectieEmbedded:
      properties:
        partnerhistorie:
          items:
            $ref: '#/components/schemas/PartnerhistorieHal'
          type: array
      type: object
    PartnerhistorieHal:
      allOf:
      - $ref: '#/components/schemas/Partnerhistorie'
      - $ref: '#/components/schemas/PartnerhistorieHal_allOf'
    Partnerhistorie:
      allOf:
      - $ref: '#/components/schemas/Partner'
      - $ref: '#/components/schemas/Partnerhistorie_allOf'
    OntbindingHuwelijkPartnerschap:
      properties:
        indicatieHuwelijkPartnerschapBeeindigd:
          description: |
            Geeft aan dat het huwelijk is ontbonden of het partnerschap is beëindigd.
          type: boolean
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
        land:
          $ref: '#/components/schemas/Waardetabel'
        plaats:
          $ref: '#/components/schemas/Waardetabel'
        reden:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/OntbindingHuwelijkInOnderzoek'
      type: object
    OntbindingHuwelijkInOnderzoek:
      description: |
        Geeft aan dat de ontbinding van het huwelijk of de beëindiging van het partnerschap in onderzoek is.

        [Zie functionele specificaties](https://github.com/VNG-Realisatie/Bevragingen-ingeschreven-personen/blob/master/features/in_onderzoek.feature)
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        reden:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    PartnerhistorieLinks:
      properties:
        ingeschrevenPersoon:
          $ref: '#/components/schemas/HalLink'
      type: object
    VerblijfstitelhistorieHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/VerblijfstitelhistorieHalCollectieEmbedded'
      type: object
    VerblijfstitelhistorieHalCollectieEmbedded:
      properties:
        verblijfstitelhistorie:
          items:
            $ref: '#/components/schemas/Verblijfstitelhistorie'
          type: array
      type: object
    Verblijfstitelhistorie:
      allOf:
      - $ref: '#/components/schemas/Verblijfstitel'
      - $ref: '#/components/schemas/Verblijfstitelhistorie_allOf'
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - $ref: '#/components/schemas/BadRequestFoutbericht_allOf'
    Foutbericht:
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
      properties:
        type:
          description: Link naar meer informatie over deze fout
          format: uri
          type: string
        title:
          description: Beschrijving van de fout
          type: string
        status:
          description: Http status code
          type: integer
        detail:
          description: Details over de fout
          type: string
        instance:
          description: Uri van de aanroep die de fout heeft veroorzaakt
          format: uri
          type: string
        code:
          description: Systeemcode die het type fout aangeeft
          minLength: 1
          type: string
      type: object
    InvalidParams:
      description: Details over fouten in opgegeven parameters
      properties:
        type:
          example: https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer
          format: uri
          type: string
        name:
          description: Naam van de parameter
          example: verblijfplaats__huisnummer
          type: string
        code:
          description: Systeemcode die het type fout aangeeft
          example: integer
          minLength: 1
          type: string
        reason:
          description: Beschrijving van de fout op de parameterwaarde
          example: Waarde is geen geldige integer.
          type: string
      type: object
    HalCollectionLinks:
      description: |
        HalCollectionLinks bevat de self link die elke HAL Resource minimaal moet hebben in zijn _links property
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
      type: object
    HalLink:
      description: De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5;
        Deze link kan als templated link worden aangeboden. [URI-templating is hier
        beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature).
      properties:
        href:
          example: https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}
          type: string
        templated:
          type: boolean
        title:
          description: Voor mens leesbaar label bij de link
          type: string
      required:
      - href
      type: object
    Href:
      example: https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}
      type: string
    Nationaliteit:
      description: |
        * **redenOpname** : De reden op grond waarvan de persoon de nationaliteit gekregen heeft.
      properties:
        aanduidingBijzonderNederlanderschap:
          $ref: '#/components/schemas/AanduidingBijzonderNederlanderschap_enum'
        datumIngangGeldigheid:
          $ref: '#/components/schemas/DatumOnvolledig'
        nationaliteit:
          $ref: '#/components/schemas/Waardetabel'
        redenOpname:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/NationaliteitInOnderzoek'
      type: object
    AanduidingBijzonderNederlanderschap_enum:
      description: |
        Geeft aan dat de persoon behandeld wordt als Nederlander, of dat door de rechter is vastgesteld dat de persoon niet de Nederlandse nationaliteit bezit
        * `behandeld_als_nederlander` - B
        * `vastgesteld_niet_nederlander` - V
      enum:
      - behandeld_als_nederlander
      - vastgesteld_niet_nederlander
      type: string
    DatumOnvolledig:
      description: Gegevens over de datums die mogelijk niet volledig zijn.
      properties:
        dag:
          description: Als de dag van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 3
          maximum: 31
          minimum: 1
          type: integer
        datum:
          description: Als de volledige datum bekend is wordt de datum gevuld die
            in de date definitie past.
          example: 1989-05-03
          format: date
          type: string
        jaar:
          description: Als het jaar van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 1989
          maximum: 9999
          type: integer
        maand:
          description: Als de maand van een datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 5
          maximum: 12
          minimum: 1
          type: integer
      type: object
    Waardetabel:
      properties:
        code:
          example: "6030"
          type: string
        omschrijving:
          example: Nederland
          type: string
      type: object
    NationaliteitInOnderzoek:
      description: |
        Geeft aan welke gegevens over de nationaliteit in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
      properties:
        aanduidingBijzonderNederlanderschap:
          type: boolean
        nationaliteit:
          type: boolean
        redenOpname:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    Verblijfplaats:
      allOf:
      - $ref: '#/components/schemas/Adres'
      - $ref: '#/components/schemas/Verblijfplaats_allOf'
    Adres:
      description: 'Eigenschappen van het adres die kunnen worden hergebruikt in andere
        API''s waarin adresgegevens worden opgenomen. '
      properties:
        straat:
          description: Een naam die door de gemeente aan een openbare ruimte is gegeven.
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
          title: openbareruimte naam
          type: string
        huisnummer:
          description: Een nummer dat door de gemeente aan een adresseerbaar object
            is gegeven.
          example: 1
          type: integer
        huisletter:
          description: Een toevoeging aan een huisnummer in de vorm van een letter
            die door de gemeente aan een adresseerbaar object is gegeven.
          example: A
          type: string
        huisnummertoevoeging:
          description: Een toevoeging aan een huisnummer of een combinatie van huisnummer
            en huisletter die door de gemeente aan een adresseerbaar object is gegeven.
          example: bis
          type: string
        postcode:
          description: De door PostNL vastgestelde code die bij een bepaalde combinatie
            van een straatnaam en een huisnummer hoort.
          example: 6922KZ
          type: string
        woonplaats:
          description: Een woonplaats is een gedeelte van het grondgebied van de gemeente
            met een naam.
          example: Duiven
          title: woonplaats naam
          type: string
      type: object
    AanduidingBijHuisnummer_enum:
      description: |
        De aanduiding die wordt gebruikt voor adressen die geen straatnaam en huisnummeraanduidingen hebben
        * `tegenover` - to
        * `bij` - by
      enum:
      - tegenover
      - bij
      type: string
    SoortAdres_enum:
      description: |
        Aanduiding van het soort adres
        * `woonadres` - W - adres waar de persoon woont
        * `briefadres` - B - het adres van een andere persoon of van een instelling (de zogenoemde briefadresgever). Met dit adres van de briefadresgever is de persoon zonder woonadres toch bereikbaar voor de overheid.
      enum:
      - woonadres
      - briefadres
      type: string
    VerblijfplaatsInOnderzoek:
      description: |
        Geeft aan welke gegevens over het verblijf en adres van de persoon in onderzoek zijn. Elementen van het GBA-adres zelf (Dat zou eigenlijk een BAG-adres moeten zijn) kunnen niet in onderzoek zijn. Wel de relatie naar de nummeraanduiding. Dat wordt gedaan door de identificatiecodeNummeraanduiding in onderzoek te zetten. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
      properties:
        aanduidingBijHuisnummer:
          type: boolean
        datumAanvangAdreshouding:
          type: boolean
        datumIngangGeldigheid:
          type: boolean
        datumInschrijvingInGemeente:
          type: boolean
        datumVestigingInNederland:
          type: boolean
        functieAdres:
          type: boolean
        gemeenteVanInschrijving:
          type: boolean
        huisletter:
          type: boolean
        huisnummer:
          type: boolean
        huisnummertoevoeging:
          type: boolean
        nummeraanduidingIdentificatie:
          type: boolean
        adresseerbaarObjectIdentificatie:
          type: boolean
        landVanwaarIngeschreven:
          type: boolean
        locatiebeschrijving:
          type: boolean
        straat:
          type: boolean
        postcode:
          type: boolean
        korteNaam:
          type: boolean
        verblijfBuitenland:
          type: boolean
        woonplaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    Partner:
      description: |
        Gegevens over een gesloten huwelijk/geregistreerd partnerschap van de persoon.
      properties:
        burgerservicenummer:
          example: "555555021"
          type: string
        geslachtsaanduiding:
          $ref: '#/components/schemas/Geslacht_enum'
        soortVerbintenis:
          $ref: '#/components/schemas/SoortVerbintenis_enum'
        naam:
          $ref: '#/components/schemas/Naam'
        geboorte:
          $ref: '#/components/schemas/Geboorte'
        inOnderzoek:
          $ref: '#/components/schemas/PartnerInOnderzoek'
        aangaanHuwelijkPartnerschap:
          $ref: '#/components/schemas/AangaanHuwelijkPartnerschap'
        geheimhoudingPersoonsgegevens:
          description: |
            Gegevens mogen niet worden verstrekt aan derden/ maatschappelijke instellingen.
          title: Indicatie geheim
          type: boolean
      type: object
    Geslacht_enum:
      description: |
        Geeft aan dat de persoon een man of vrouw is, of dat het geslacht (nog) onbekend is
        * `man` - M
        * `vrouw` - V
        * `onbekend` - O
      enum:
      - man
      - vrouw
      - onbekend
      type: string
    SoortVerbintenis_enum:
      description: |
        Soort verbintenis die bij de burgerlijke stand is ingeschreven
        * `huwelijk` - H
        * `geregistreerd_partnerschap` - P
      enum:
      - huwelijk
      - geregistreerd_partnerschap
      type: string
    Naam:
      properties:
        geslachtsnaam:
          description: |
            De achternaam van een persoon.
          example: Vries
          type: string
        voorletters:
          description: |
            De voorletters van de persoon, afgeleid van de voornamen.
          example: P.J.
          type: string
        voornamen:
          description: |
            De verzameling namen voor de geslachtsnaam, gescheiden door spaties.
          example: Pieter Jan
          type: string
        voorvoegsel:
          example: de
          type: string
        inOnderzoek:
          $ref: '#/components/schemas/NaamInOnderzoek'
      type: object
    NaamInOnderzoek:
      description: |
        Geeft aan welke gegevens over de naam in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
      properties:
        geslachtsnaam:
          type: boolean
        voornamen:
          type: boolean
        voorvoegsel:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    Geboorte:
      allOf:
      - $ref: '#/components/schemas/Geboortedatum'
      - $ref: '#/components/schemas/Geboorte_allOf'
    Geboortedatum:
      description: |
        Gegevens over de geboorte van respectievelijk de persoon, de ouder, de echtgenoot/geregistreerd partner, de eerdere echtgenoot/geregistreerd partner of het kind.
        * **datum** : Datum waarop de persoon is geboren
        * **land** : Land waar de persoon is geboren
        * **plaats** : De plaats waar de persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding.
      properties:
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    GeboorteInOnderzoek:
      description: |
        Geeft aan welke gegevens over de geboorte van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    PartnerInOnderzoek:
      description: |
        Geeft aan welke gegevens over het huwelijk of het partnerschap in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
      properties:
        burgerservicenummer:
          type: boolean
        geslachtsaanduiding:
          type: boolean
        soortVerbintenis:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    AangaanHuwelijkPartnerschap:
      description: |
        Gegevens over de voltrekking van het huwelijk of het aangaan van het geregistreerd partnerschap.
        * **datum** : De datum waarop het huwelijk is voltrokken of het partnerschap is aangegaan.
        * **land** : Het land waar het huwelijk is voltrokken of het partnerschap is aangegaan.
        * **plaats** : Als de plaats een gemeente in Nederland is dan gewoon de gemeentecode + gemeentenaam. Voor een plaats buiten Nederland is de gemeentecode leeg en wordt de gemeentenaam de buitenlandse plaatsnaam of aanduiding."
      properties:
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
        land:
          $ref: '#/components/schemas/Waardetabel'
        plaats:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/AangaanHuwelijkPartnerschapInOnderzoek'
      type: object
    AangaanHuwelijkPartnerschapInOnderzoek:
      description: |
        Geeft aan welke gegevens over het voltrekken van het huwelijk of aangaan van het partnerschap in onderzoek zijn. Zie de functionele specificaties. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    Verblijfstitel:
      description: |
        Gegevens over de verblijfsrechtelijke status van de persoon.
        * **datumEinde**: Datum waarop de geldigheid van de gegevens over de verblijfstitel is beëindigd.
        * **datumIngang**: Datum waarop de gegevens over de verblijfstitel geldig zijn geworden.
        * **aanduiding** : Verblijfstiteltabel die aangeeft over welke verblijfsrechtelijke status de persoon beschikt.
      properties:
        aanduiding:
          $ref: '#/components/schemas/Waardetabel'
        datumEinde:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumIngang:
          $ref: '#/components/schemas/DatumOnvolledig'
        inOnderzoek:
          $ref: '#/components/schemas/VerblijfstitelInOnderzoek'
      type: object
    VerblijfstitelInOnderzoek:
      description: |
        Geeft aan welke gegevens over de verblijfstitel in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
      properties:
        aanduiding:
          type: boolean
        datumEinde:
          type: boolean
        datumIngang:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      type: object
    Nationaliteithistorie_allOf:
      description: |
        Gegevens over de (historische) nationaliteiten van de persoon.
        * **datumTot**: Datum tot wanneer een nationaliteit geldig was.
        * **datumIngangGeldigheid**: Datum waarop de gegevens over de Nationaliteit geldig zijn geworden.
        * **nationaliteit** : Nationaliteittabel, die aangeeft over welke nationaliteit de ingeschrevene beschikt.
        * **redenOpname** : Tabel Reden opnemen/beëindigen nationaliteit, die aangeeft met welke reden de persoon de Nederlandse nationaliteit heeft verkregen of waarom een niet-Nederlandse nationaliteit is opgenomen.
        * **redenBeeindigen** : Tabel Reden opnemen/beëindigen nationaliteit, die aangeeft met welke reden een nationaliteit is beëindigd.
      properties:
        geheimhoudingPersoonsgegevens:
          description: |
            Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.
          title: Indicatie geheim
          type: boolean
        datumTot:
          $ref: '#/components/schemas/DatumOnvolledig'
        redenBeeindigen:
          $ref: '#/components/schemas/Waardetabel'
        indicatieNationaliteitBeeindigd:
          description: |
            Geeft aan dat de nationaliteit beëindigd is.
          example: true
          type: boolean
    VerblijfplaatshistorieHal_allOf:
      properties:
        _links:
          $ref: '#/components/schemas/VerblijfplaatshistorieLinks'
    Verblijfplaatshistorie_allOf:
      description: |
        Gegevens over de (historische) verblijfplaatsen of de woonlocaties van de persoon.
        * **datumAanvangAdreshuishouding** : de datum van aangifte of ambtshalve melding van verblijf en adres.
        * **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden.
        * **datumInschrijvingInGemeente**: bij inschrijving op grond van een verhuisaangifte door de burger is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop het voornemen van ambtshalve opneming schriftelijk aan de persoon is medegedeeld.
        * **datumVestigingInNederland** : datum van inschrijving in Nederland.
        * **landVanWaarIngeschreven** : het land waar de persoon woonde voor (her)vestiging in Nederland.
        * **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten."
        * **datumTot** : de datum tot wanneer iemand op deze verblijfplaats of woonlocatie was ingeschreven
      properties:
        datumTot:
          $ref: '#/components/schemas/DatumOnvolledig'
        geheimhoudingPersoonsgegevens:
          description: |
            Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.
          title: Indicatie geheim
          type: boolean
    PartnerhistorieHal_allOf:
      properties:
        _links:
          $ref: '#/components/schemas/PartnerhistorieLinks'
    Partnerhistorie_allOf:
      description: |
        Gegevens over (historische) huwelijken en/of geregistreerd partnerschappen van de persoon.
      properties:
        ontbindingHuwelijkPartnerschap:
          $ref: '#/components/schemas/OntbindingHuwelijkPartnerschap'
    Verblijfstitelhistorie_allOf:
      description: |
        Gegevens over de (historische) verblijfsrechtelijke status van de persoon.
        * **datumEinde**: Datum waarop de verblijfstitel niet meer geldig is.
        * **datumIngang**: Datum waarop de verblijfstitel ingaat.
        * **aanduiding** : Verblijfstiteltabel die aangeeft over welke verblijfsrechtelijke status de persoon beschikt.
      properties:
        geheimhoudingPersoonsgegevens:
          description: |
            Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.
          title: Indicatie geheim
          type: boolean
    BadRequestFoutbericht_allOf:
      properties:
        invalidParams:
          description: Foutmelding per fout in een parameter. Alle gevonden fouten
            worden één keer teruggemeld.
          items:
            $ref: '#/components/schemas/InvalidParams'
          type: array
      type: object
    Verblijfplaats_allOf:
      description: |
        Gegevens over het verblijf of de woonlocatie van een persoon.
        * **datumAanvangAdreshuishouding** : de datum van aangifte of ambtshalve melding van verblijf en adres.
        * **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden.
        * **datumInschrijvingInGemeente**: bij inschrijving op grond van een verhuisaangifte door de burger is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop het voornemen van ambtshalve opneming schriftelijk aan de persoon is medegedeeld.
        * **datumVestigingInNederland** : datum van inschrijving in Nederland.
        * **landVanWaarIngeschreven** : het land waar de persoon woonde voor (her)vestiging in Nederland.
        * **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten."
      properties:
        adresseerbaarObjectIdentificatie:
          description: |
            De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn.
          example: "0226010000038820"
          type: string
        aanduidingBijHuisnummer:
          $ref: '#/components/schemas/AanduidingBijHuisnummer_enum'
        nummeraanduidingIdentificatie:
          description: |
            Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.
          example: "0518200000366054"
          type: string
        functieAdres:
          $ref: '#/components/schemas/SoortAdres_enum'
        indicatieVestigingVanuitBuitenland:
          description: |
            Geeft aan dat de ingeschreven persoon zich vanuit het buitenland heeft ingeschreven.
          type: boolean
        locatiebeschrijving:
          description: |
            Omschrijving van de ligging van een verblijfsobject, standplaats of ligplaats.
          example: Naast de derde brug
          type: string
        korteNaam:
          description: |
            De officiële openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie.
          type: string
        vanuitVertrokkenOnbekendWaarheen:
          description: |
            Geeft aan dat de persoon is teruggekeerd uit een situatie van 'vertrokken onbekend waarheen.'
          example: true
          type: boolean
        datumAanvangAdreshouding:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumIngangGeldigheid:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumInschrijvingInGemeente:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumVestigingInNederland:
          $ref: '#/components/schemas/DatumOnvolledig'
        gemeenteVanInschrijving:
          $ref: '#/components/schemas/Waardetabel'
        landVanwaarIngeschreven:
          $ref: '#/components/schemas/Waardetabel'
        adresregel1:
          description: |
            Het eerste deel van een adres is een combinatie van de straat en huisnummer.
          example: Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3
          type: string
        adresregel2:
          description: |
            Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode.
          example: 1234AA Nootdorp
          type: string
        adresregel3:
          description: |
            Het derde deel van een adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.
          example: Selangor
          type: string
        vertrokkenOnbekendWaarheen:
          description: |
            Indicatie dat de ingeschreven persoon is vertrokken naar het buitenland, maar dat niet bekend is waar naar toe.
          type: boolean
        land:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/VerblijfplaatsInOnderzoek'
    Geboorte_allOf:
      description: |
        Gegevens over de geboorte.
        * **datum** : datum waarop de persoon is geboren.
        * **land** : land waar de persoon is geboren
        * **plaats** : plaats waar de persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding.
      properties:
        land:
          $ref: '#/components/schemas/Waardetabel'
        plaats:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/GeboorteInOnderzoek'

