openapi: 3.0.0
info:
  title: Bevragingen historie ingeschreven personen
  description: |
    API voor het ontsluiten van historische gegevens in relatie tot ingeschreven personen en aanverwante gegevens uit de GBA en RNI.
    Met deze API wordt historie van de verblijfplaatsen, partners, verblijfstitels en nationaliteiten ontsloten.

    Zie de [Functionele documentatie](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen/tree/v1.0.0/features) voor nadere toelichting.
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  version: 0.0.1 (develop)
servers:
- url: https://www.haalcentraal.nl/haalcentraal/api/brp
  description: APILAB testserver
tags:
- name: Historie
  description: Bevraging van historische gegevens over ingeschreven personen
paths:
  /ingeschrevenpersonen/{burgerservicenummer}/verblijfplaatshistorie:
    get:
      tags:
      - Historie
      description: |
        Het ophalen van de verblijfplaatshistorie van een ingeschreven persoon. Van een ingeschreven persoon wordt de verblijfplaats geretourneerd waar de persoon op de (optioneel) opgegeven peildatum verbleef of worden de verblijfplaatsen geretourneerd waar de persoon binnen de (optioneel) opgegeven periode (datumVan tot en met datumTotEnMet) heeft verbleven. Wanneer geen peildatum of periode wordt opgegeven, worden alle verblijfplaatsen waar de persoon verbleven heeft of nu verblijft teruggegeven.

        Er wordt aflopend gesorteerd op datumAanvangAdreshuishouding, zodat de meest actuele bovenaan staat.
      operationId: Getverblijfplaatshistorie
      parameters:
      - name: burgerservicenummer
        in: path
        description: |
          Uniek persoonsnummer
        required: true
        schema:
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
          example: "555555021"
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: peildatum
        in: query
        description: De datum waarop de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumVan
        in: query
        description: De begindatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumTotEnMet
        in: query
        description: De einddatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-10-09
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VerblijfplaatshistorieHalCollectie'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /ingeschrevenpersonen/{burgerservicenummer}/partnerhistorie:
    get:
      tags:
      - Historie
      description: |
        Het ophalen van de partnerhistorie van een ingeschreven persoon.
        Van een ingeschreven persoon wordt de partner geretourneerd waar de persoon op de (optioneel) opgegeven peildatum een partnerschap
        of huwelijk mee had of worden de partners geretourneerd waar de persoon binnen de (optioneel) opgegeven periode (datumVan tot en met datumTotEnMet)
        een partnerschap of huwelijk mee had. Wanneer geen peildatum of periode wordt opgegeven, worden alle partners waar de persoon een partnerschap of huwelijk
        mee heeft of heeft gehad teruggegeven.
      operationId: Getpartnerhistorie
      parameters:
      - name: burgerservicenummer
        in: path
        description: |
          Uniek persoonsnummer
        required: true
        schema:
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
          example: "555555021"
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: peildatum
        in: query
        description: De datum waarop de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumVan
        in: query
        description: De begindatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumTotEnMet
        in: query
        description: De einddatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-10-09
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PartnerhistorieHalCollectie'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /ingeschrevenpersonen/{burgerservicenummer}/verblijfstitelhistorie:
    get:
      tags:
      - Historie
      description: |
        Het ophalen van de verblijfstitelhistorie van een ingeschreven persoon. Van een ingeschreven persoon wordt de verblijfstitel geretourneerd die de persoon had op de (optioneel) opgegeven peildatum of worden de verblijfstitels geretourneerd die de persoon had binnen de (optioneel) opgegeven periode (datumVan tot en met datumTotEnMet). Wanneer geen peildatum of periode wordt opgegeven, worden alle verblijfstitels van de persoon teruggegeven.

        Er wordt aflopend gesorteerd op datumingang, zodat de meest actuele bovenaan staat.
      operationId: getverblijfstitelhistorie
      parameters:
      - name: burgerservicenummer
        in: path
        description: |
          Uniek persoonsnummer
        required: true
        schema:
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
          example: "555555021"
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: peildatum
        in: query
        description: De datum waarop de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumVan
        in: query
        description: De begindatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumTotEnMet
        in: query
        description: De einddatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-10-09
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/VerblijfstitelhistorieHalCollectie'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /ingeschrevenpersonen/{burgerservicenummer}/nationaliteithistorie:
    get:
      tags:
      - Historie
      description: |
        Het ophalen van de nationaliteithistorie van een persoon. Van een persoon wordt de nationaliteiten geretourneerd die de persoon had op de (optioneel) opgegeven peildatum of worden de nationaliteiten geretourneerd die de persoon had binnen de (optioneel) opgegeven periode (datumVan tot en met datumTotEnMet). Wanneer geen peildatum of periode wordt opgegeven, worden alle nationaliteiten van de persoon teruggegeven.</p><p>Er wordt aflopend gesorteerd op datumingang, zodat de meest actuele bovenaan staat.
      operationId: getnationaliteithistorie
      parameters:
      - name: burgerservicenummer
        in: path
        description: |
          Uniek persoonsnummer
        required: true
        schema:
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
          example: "555555021"
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: peildatum
        in: query
        description: De datum waarop de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumVan
        in: query
        description: De begindatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumTotEnMet
        in: query
        description: De einddatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-10-09
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/NationaliteithistorieHalCollectie'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
components:
  schemas:
    NationaliteithistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/NationaliteithistorieHalCollectieEmbedded'
    NationaliteithistorieHalCollectieEmbedded:
      type: object
      properties:
        nationaliteithistorie:
          type: array
          items:
            $ref: '#/components/schemas/Nationaliteithistorie'
    Nationaliteithistorie:
      allOf:
      - $ref: '#/components/schemas/Nationaliteit'
      - properties:
          geheimhoudingPersoonsgegevens:
            title: Indicatie geheim
            type: boolean
            description: |
              Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden.
              Indien true : op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan.
          datumTot:
            $ref: '#/components/schemas/DatumOnvolledig'
          redenBeeindigen:
            $ref: '#/components/schemas/Waardetabel'
          indicatieNationaliteitBeeindigd:
            type: boolean
            description: |
              Een aanduiding dat de nationaliteit beëindigd is.
            example: true
        description: |
          Gegevens over de nationaliteiten van de persoon.
          * **datumTot**: Datum tot wanneer een nationaliteit geldig was.
          * **datumIngangGeldigheid**: Datum waarop de gegevens over de Nationaliteit geldig zijn geworden.
          * **nationaliteit** : Nationaliteittabel, die aangeeft over welke nationaliteit de ingeschrevene beschikt.
          * **redenOpname** : Tabel Reden opnemen/beëindigen nationaliteit, die aangeeft met welke reden de persoon de Nederlandse nationaliteit heeft verkregen of waarom een niet-Nederlandse nationaliteit is opgenomen.
          * **redenBeeindigen** : Tabel Reden opnemen/beëindigen nationaliteit, die aangeeft met welke reden een nationaliteit is beëindigd.
    VerblijfplaatshistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/VerblijfplaatshistorieHalCollectieEmbedded'
    VerblijfplaatshistorieHalCollectieEmbedded:
      type: object
      properties:
        verblijfplaatshistorie:
          type: array
          items:
            $ref: '#/components/schemas/VerblijfplaatshistorieHal'
    VerblijfplaatshistorieHal:
      allOf:
      - $ref: '#/components/schemas/Verblijfplaatshistorie'
      - properties:
          _links:
            $ref: '#/components/schemas/VerblijfplaatshistorieLinks'
    Verblijfplaatshistorie:
      allOf:
      - $ref: '#/components/schemas/Verblijfplaats'
      - properties:
          datumTot:
            $ref: '#/components/schemas/DatumOnvolledig'
          geheimhoudingPersoonsgegevens:
            title: Indicatie geheim
            type: boolean
            description: |
              Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden. Indien true: op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan.
        description: |
          Gegevens over het verblijfplaatsen of de woonlocaties van een persoon.
          * **datumAanvangAdreshuishouding** : de datum van aangifte of ambtshalve melding van verblijf en adres.
          * **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden.
          * **datumInschrijvingInGemeente**: bij inschrijving op grond van een verhuisaangifte door de burger is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop het voornemen van ambtshalve opneming schriftelijk aan de persoon is medegedeeld.
          * **datumVestigingInNederland** : datum van inschrijving in Nederland.
          * **landVanWaarIngeschreven** : het land waar de persoon woonde voor (her)vestiging in Nederland.
          * **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten."
          * **datumTot** : de datum tot wanneer iemand op deze verblijfplaats of woonlocatie was ingeschreven
    VerblijfplaatshistorieLinks:
      type: object
      properties:
        adres:
          $ref: '#/components/schemas/HalLink'
        adresseerbaarObject:
          $ref: '#/components/schemas/HalLink'
    PartnerhistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/PartnerhistorieHalCollectieEmbedded'
    PartnerhistorieHalCollectieEmbedded:
      type: object
      properties:
        partnerhistorie:
          type: array
          items:
            $ref: '#/components/schemas/PartnerhistorieHal'
    PartnerhistorieHal:
      allOf:
      - $ref: '#/components/schemas/Partnerhistorie'
      - properties:
          _links:
            $ref: '#/components/schemas/PartnerhistorieLinks'
    Partnerhistorie:
      allOf:
      - $ref: '#/components/schemas/Partner'
      - properties:
          ontbindingHuwelijkPartnerschap:
            $ref: '#/components/schemas/OntbindingHuwelijkPartnerschap'
        description: |
          Gegevens over een gesloten huwelijk/geregistreerd partnerschap van de persoon.
    OntbindingHuwelijkPartnerschap:
      type: object
      properties:
        indicatieHuwelijkPartnerschapBeeindigd:
          type: boolean
          description: |
            Indicatie of het huwelijk ontbonden is danwel het partnerschap beëindigd is.
            * `True` - Huwelijk/Partnerschap is beëindigd.
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
        land:
          $ref: '#/components/schemas/Waardetabel'
        plaats:
          $ref: '#/components/schemas/Waardetabel'
        reden:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/OntbindingHuwelijkInOnderzoek'
    OntbindingHuwelijkInOnderzoek:
      type: object
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        reden:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Indicators over het in onderzoek zijn van gegevens over de aangaan van het huwelijk van de persoon.

        [Zie functionele specificaties](https://github.com/VNG-Realisatie/Bevragingen-ingeschreven-personen/blob/master/features/in_onderzoek.feature)
    PartnerhistorieLinks:
      type: object
      properties:
        ingeschrevenPersoon:
          $ref: '#/components/schemas/HalLink'
    VerblijfstitelhistorieHalCollectie:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/VerblijfstitelhistorieHalCollectieEmbedded'
    VerblijfstitelhistorieHalCollectieEmbedded:
      type: object
      properties:
        verblijfstitelhistorie:
          type: array
          items:
            $ref: '#/components/schemas/Verblijfstitelhistorie'
    Verblijfstitelhistorie:
      allOf:
      - $ref: '#/components/schemas/Verblijfstitel'
      - properties:
          geheimhoudingPersoonsgegevens:
            title: Indicatie geheim
            type: boolean
            description: |
              Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden. Indien true: op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan.
        description: |
          Gegevens over de verblijfsrechtelijke status van de ingeschrevene.
          * **datumEinde**: Datum waarop de geldigheid van de gegevens over de verblijfstitel is beëindigd.
          * **datumIngang**: Datum waarop de gegevens over de verblijfstitel geldig zijn geworden.
          * **aanduiding** : Verblijfstiteltabel, die aangeeft over welke verblijfsrechtelijke status de ingeschrevene beschikt.
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - type: object
        properties:
          invalidParams:
            type: array
            description: Foutmelding per fout in een parameter. Alle gevonden fouten
              worden één keer teruggemeld.
            items:
              $ref: '#/components/schemas/InvalidParams'
    Foutbericht:
      type: object
      properties:
        type:
          type: string
          description: Link naar meer informatie over deze fout
          format: uri
        title:
          type: string
          description: Beschrijving van de fout
        status:
          type: integer
          description: Http status code
        detail:
          type: string
          description: Details over de fout
        instance:
          type: string
          description: Uri van de aanroep die de fout heeft veroorzaakt
          format: uri
        code:
          minLength: 1
          type: string
          description: Systeemcode die het type fout aangeeft
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
    InvalidParams:
      type: object
      properties:
        type:
          type: string
          format: uri
          example: https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer
        name:
          type: string
          description: Naam van de parameter
          example: verblijfplaats__huisnummer
        code:
          minLength: 1
          type: string
          description: Systeemcode die het type fout aangeeft
          example: integer
        reason:
          type: string
          description: Beschrijving van de fout op de parameterwaarde
          example: Waarde is geen geldige integer.
      description: Details over fouten in opgegeven parameters
    HalCollectionLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
      description: |
        HalCollectionLinks bevat de self link die elke HAL Resource minimaal moet hebben in zijn _links property
    HalLink:
      required:
      - href
      type: object
      properties:
        href:
          $ref: '#/components/schemas/Href'
        templated:
          type: boolean
        title:
          type: string
          description: Voor mens leesbaar label bij de link
      description: De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5;
        Deze link kan als templated link worden aangeboden. [URI-templating is hier
        beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature).
    Href:
      type: string
      example: https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}
    Nationaliteit:
      type: object
      properties:
        aanduidingBijzonderNederlanderschap:
          $ref: '#/components/schemas/AanduidingBijzonderNederlanderschap_enum'
        datumIngangGeldigheid:
          $ref: '#/components/schemas/DatumOnvolledig'
        nationaliteit:
          $ref: '#/components/schemas/Waardetabel'
        redenOpname:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/NationaliteitInOnderzoek'
      description: |
        * **redenOpname** : De reden op grond waarvan de persoon de nationaliteit gekregen heeft.
    AanduidingBijzonderNederlanderschap_enum:
      type: string
      description: |
        Geeft aan dat de persoon behandeld wordt als Nederlander, of dat door de rechter is vastgesteld dat de persoon niet de Nederlandse nationaliteit bezit
        * `behandeld_als_nederlander` - B
        * `vastgesteld_niet_nederlander` - V
      enum:
      - behandeld_als_nederlander
      - vastgesteld_niet_nederlander
    DatumOnvolledig:
      type: object
      properties:
        dag:
          maximum: 31
          minimum: 1
          type: integer
          description: Als de dag van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 3
        datum:
          type: string
          description: Als de volledige datum bekend is wordt de datum gevuld die
            in de date definitie past.
          format: date
          example: 1989-05-03
        jaar:
          maximum: 9999
          type: integer
          description: Als het jaar van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 1989
        maand:
          maximum: 12
          minimum: 1
          type: integer
          description: Als de maand van een datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 5
      description: Gegevens over de datums die mogelijk niet volledig zijn.
    Waardetabel:
      type: object
      properties:
        code:
          type: string
          example: "6030"
        omschrijving:
          type: string
          example: Nederland
    NationaliteitInOnderzoek:
      type: object
      properties:
        aanduidingBijzonderNederlanderschap:
          type: boolean
        nationaliteit:
          type: boolean
        redenOpname:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de nationaliteit in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Verblijfplaats:
      allOf:
      - $ref: '#/components/schemas/Adres'
      - properties:
          adresseerbaarObjectIdentificatie:
            type: string
            description: |
              De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn.
            example: "0226010000038820"
          aanduidingBijHuisnummer:
            $ref: '#/components/schemas/AanduidingBijHuisnummer_enum'
          nummeraanduidingIdentificatie:
            type: string
            description: |
              Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.
            example: "0518200000366054"
          functieAdres:
            $ref: '#/components/schemas/SoortAdres_enum'
          indicatieVestigingVanuitBuitenland:
            type: boolean
            description: |
              Geeft aan dat de ingeschreven persoon zich vanuit het buitenland heeft ingeschreven.
          locatiebeschrijving:
            type: string
            description: |
              Omschrijving van de ligging van een verblijfsobject, standplaats of ligplaats.
            example: Naast de derde brug
          korteNaam:
            type: string
            description: |
              De officiële openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie.
          vanuitVertrokkenOnbekendWaarheen:
            type: boolean
            description: |
              Geeft aan dat de persoon is teruggekeerd uit een situatie van 'vertrokken onbekend waarheen.'
            example: true
          datumAanvangAdreshouding:
            $ref: '#/components/schemas/DatumOnvolledig'
          datumIngangGeldigheid:
            $ref: '#/components/schemas/DatumOnvolledig'
          datumInschrijvingInGemeente:
            $ref: '#/components/schemas/DatumOnvolledig'
          datumVestigingInNederland:
            $ref: '#/components/schemas/DatumOnvolledig'
          gemeenteVanInschrijving:
            $ref: '#/components/schemas/Waardetabel'
          landVanwaarIngeschreven:
            $ref: '#/components/schemas/Waardetabel'
          adresregel1:
            type: string
            description: |
              Het eerste deel van een adres is een combinatie van de straat en huisnummer.
            example: Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3
          adresregel2:
            type: string
            description: |
              Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode.
            example: 1234AA Nootdorp
          adresregel3:
            type: string
            description: |
              Het derde deel van een adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.
            example: Selangor
          vertrokkenOnbekendWaarheen:
            type: boolean
            description: |
              Indicatie dat de ingeschreven persoon is vertrokken naar het buitenland, maar dat niet bekend is waar naar toe.
          land:
            $ref: '#/components/schemas/Waardetabel'
          inOnderzoek:
            $ref: '#/components/schemas/VerblijfplaatsInOnderzoek'
        description: |
          Gegevens over het verblijf of de woonlocatie van een persoon.
          * **datumAanvangAdreshuishouding** : de datum van aangifte of ambtshalve melding van verblijf en adres.
          * **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden.
          * **datumInschrijvingInGemeente**: bij inschrijving op grond van een verhuisaangifte door de burger is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop het voornemen van ambtshalve opneming schriftelijk aan de persoon is medegedeeld.
          * **datumVestigingInNederland** : datum van inschrijving in Nederland.
          * **landVanWaarIngeschreven** : het land waar de persoon woonde voor (her)vestiging in Nederland.
          * **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten."
    Adres:
      type: object
      properties:
        straat:
          title: openbareruimte naam
          type: string
          description: Een naam die door de gemeente aan een openbare ruimte is gegeven.
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
        huisnummer:
          type: integer
          description: Een nummer dat door de gemeente aan een adresseerbaar object
            is gegeven.
          example: 1
        huisletter:
          type: string
          description: Een toevoeging aan een huisnummer in de vorm van een letter
            die door de gemeente aan een adresseerbaar object is gegeven.
          example: A
        huisnummertoevoeging:
          type: string
          description: Een toevoeging aan een huisnummer of een combinatie van huisnummer
            en huisletter die door de gemeente aan een adresseerbaar object is gegeven.
          example: bis
        postcode:
          type: string
          description: De door PostNL vastgestelde code die bij een bepaalde combinatie
            van een straatnaam en een huisnummer hoort.
          example: 6922KZ
        woonplaats:
          title: woonplaats naam
          type: string
          description: Een woonplaats is een gedeelte van het grondgebied van de gemeente
            met een naam.
          example: Duiven
      description: 'Eigenschappen van het adres die kunnen worden hergebruikt in andere
        API''s waarin adresgegevens worden opgenomen. '
    AanduidingBijHuisnummer_enum:
      type: string
      description: |
        De aanduiding die wordt gebruikt voor adressen die geen straatnaam en huisnummeraanduidingen hebben
        * `tegenover` - to
        * `bij` - by
      enum:
      - tegenover
      - bij
    SoortAdres_enum:
      type: string
      description: |
        Aanduiding van het soort adres
        * `woonadres` - W - adres waar de persoon woont
        * `briefadres` - B - het adres van een andere persoon of van een instelling (de zogenoemde briefadresgever). Met dit adres van de briefadresgever is de persoon zonder woonadres toch bereikbaar voor de overheid.
      enum:
      - woonadres
      - briefadres
    VerblijfplaatsInOnderzoek:
      type: object
      properties:
        aanduidingBijHuisnummer:
          type: boolean
        datumAanvangAdreshouding:
          type: boolean
        datumIngangGeldigheid:
          type: boolean
        datumInschrijvingInGemeente:
          type: boolean
        datumVestigingInNederland:
          type: boolean
        functieAdres:
          type: boolean
        gemeenteVanInschrijving:
          type: boolean
        huisletter:
          type: boolean
        huisnummer:
          type: boolean
        huisnummertoevoeging:
          type: boolean
        nummeraanduidingIdentificatie:
          type: boolean
        adresseerbaarObjectIdentificatie:
          type: boolean
        landVanwaarIngeschreven:
          type: boolean
        locatiebeschrijving:
          type: boolean
        straat:
          type: boolean
        postcode:
          type: boolean
        korteNaam:
          type: boolean
        verblijfBuitenland:
          type: boolean
        woonplaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over het verblijf en adres van de persoon in onderzoek zijn. Elementen van het GBA-adres zelf (Dat zou eigenlijk een BAG-adres moeten zijn) kunnen niet in onderzoek zijn. Wel de relatie naar de nummeraanduiding. Dat wordt gedaan door de identificatiecodeNummeraanduiding in onderzoek te zetten. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Partner:
      type: object
      properties:
        burgerservicenummer:
          type: string
          example: "555555021"
        geslachtsaanduiding:
          $ref: '#/components/schemas/Geslacht_enum'
        soortVerbintenis:
          $ref: '#/components/schemas/SoortVerbintenis_enum'
        naam:
          $ref: '#/components/schemas/Naam'
        geboorte:
          $ref: '#/components/schemas/Geboorte'
        inOnderzoek:
          $ref: '#/components/schemas/PartnerInOnderzoek'
        aangaanHuwelijkPartnerschap:
          $ref: '#/components/schemas/AangaanHuwelijkPartnerschap'
        geheimhoudingPersoonsgegevens:
          title: Indicatie geheim
          type: boolean
          description: |
            Gegevens mogen niet worden verstrekt aan derden/ maatschappelijke instellingen.
      description: |
        Gegevens over een gesloten huwelijk/geregistreerd partnerschap van de persoon.
    Geslacht_enum:
      type: string
      description: |
        Geeft aan dat de persoon een man of vrouw is, of dat het geslacht (nog) onbekend is
        * `man` - M
        * `vrouw` - V
        * `onbekend` - O
      enum:
      - man
      - vrouw
      - onbekend
    SoortVerbintenis_enum:
      type: string
      description: |
        Soort verbintenis die bij de burgerlijke stand is ingeschreven
        * `huwelijk` - H
        * `geregistreerd_partnerschap` - P
      enum:
      - huwelijk
      - geregistreerd_partnerschap
    Naam:
      type: object
      properties:
        geslachtsnaam:
          type: string
          description: |
            De achternaam van een persoon.
          example: Vries
        voorletters:
          type: string
          description: |
            De voorletters van de persoon, afgeleid van de voornamen.
          example: P.J.
        voornamen:
          type: string
          description: |
            De verzameling namen voor de geslachtsnaam, gescheiden door spaties.
          example: Pieter Jan
        voorvoegsel:
          type: string
          example: de
        inOnderzoek:
          $ref: '#/components/schemas/NaamInOnderzoek'
    NaamInOnderzoek:
      type: object
      properties:
        geslachtsnaam:
          type: boolean
        voornamen:
          type: boolean
        voorvoegsel:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de naam in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Geboorte:
      allOf:
      - $ref: '#/components/schemas/Geboortedatum'
      - properties:
          land:
            $ref: '#/components/schemas/Waardetabel'
          plaats:
            $ref: '#/components/schemas/Waardetabel'
          inOnderzoek:
            $ref: '#/components/schemas/GeboorteInOnderzoek'
        description: |
          Gegevens over de geboorte.
          * **datum** : datum waarop de persoon is geboren.
          * **land** : land waar de persoon is geboren
          * **plaats** : plaats waar de persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding.
    Geboortedatum:
      type: object
      properties:
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Gegevens over de geboorte van respectievelijk de persoon, de ouder, de echtgenoot/geregistreerd partner, de eerdere echtgenoot/geregistreerd partner of het kind.
        * **datum** : Datum waarop de persoon is geboren
        * **land** : Land waar de persoon is geboren
        * **plaats** : De plaats waar de persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding.
    GeboorteInOnderzoek:
      type: object
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de geboorte van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    PartnerInOnderzoek:
      type: object
      properties:
        burgerservicenummer:
          type: boolean
        geslachtsaanduiding:
          type: boolean
        soortVerbintenis:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over het huwelijk of het partnerschap in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    AangaanHuwelijkPartnerschap:
      type: object
      properties:
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
        land:
          $ref: '#/components/schemas/Waardetabel'
        plaats:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/AangaanHuwelijkPartnerschapInOnderzoek'
      description: |
        Gegevens over de voltrekking van het huwelijk of het aangaan van het geregistreerd partnerschap.
        * **datum** : De datum waarop het huwelijk is voltrokken of het partnerschap is aangegaan.
        * **land** : Het land waar het huwelijk is voltrokken of het partnerschap is aangegaan.
        * **plaats** : Als de plaats een gemeente in Nederland is dan gewoon de gemeentecode + gemeentenaam. Voor een plaats buiten Nederland is de gemeentecode leeg en wordt de gemeentenaam de buitenlandse plaatsnaam of aanduiding."
    AangaanHuwelijkPartnerschapInOnderzoek:
      type: object
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over het voltrekken van het huwelijk of aangaan van het partnerschap in onderzoek zijn. Zie de functionele specificaties. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Verblijfstitel:
      type: object
      properties:
        aanduiding:
          $ref: '#/components/schemas/Waardetabel'
        datumEinde:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumIngang:
          $ref: '#/components/schemas/DatumOnvolledig'
        inOnderzoek:
          $ref: '#/components/schemas/VerblijfstitelInOnderzoek'
      description: |
        Gegevens over de verblijfsrechtelijke status van de persoon.
        * **datumEinde**: Datum waarop de geldigheid van de gegevens over de verblijfstitel is beëindigd.
        * **datumIngang**: Datum waarop de gegevens over de verblijfstitel geldig zijn geworden.
        * **aanduiding** : Verblijfstiteltabel die aangeeft over welke verblijfsrechtelijke status de persoon beschikt.
    VerblijfstitelInOnderzoek:
      type: object
      properties:
        aanduiding:
          type: boolean
        datumEinde:
          type: boolean
        datumIngang:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de verblijfstitel in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
  parameters:
    burgerservicenummer:
      name: burgerservicenummer
      in: path
      description: |
        Uniek persoonsnummer
      required: true
      schema:
        maxLength: 9
        minLength: 9
        pattern: ^[0-9]*$
        type: string
        example: "555555021"
  headers:
    api_version:
      schema:
        type: string
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
    warning:
      schema:
        type: string
        description: zie RFC 7234. In het geval een major versie wordt uitgefaseerd,
          gebruiken we warn-code 299 ("Miscellaneous Persistent Warning") en het API
          end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd
          door de warn-text met de human-readable waarschuwing
        example: '299 https://service.../api/.../v1 "Deze versie van de API is verouderd
          en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie
          hier de documentatie: https://omgevingswet.../api/.../v1".'
