{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "BRP historie bevragen",
    "description" : "API voor het zoeken en raadplegen van historische verblijfplaatsen, partners, nationaliteiten en verblijfstitels uit de BRP (inclusief de RNI).\n\nZie de [Functionele documentatie](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen/tree/v1.0.0/features) voor nadere toelichting.\n",
    "contact" : {
      "url" : "https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen"
    },
    "license" : {
      "name" : "European Union Public License, version 1.2 (EUPL-1.2)",
      "url" : "https://eupl.eu/1.2/nl/"
    },
    "version" : "2.0.0 (develop)"
  },
  "servers" : [ {
    "url" : "https://www.haalcentraal.nl/haalcentraal/api/brphistorie",
    "description" : "APILAB testserver historie"
  } ],
  "tags" : [ {
    "name" : "BRP historie bevragen",
    "description" : "Zoeken historische gegevens"
  } ],
  "paths" : {
    "/verblijfplaatshistorie" : {
      "post" : {
        "tags" : [ "BRP historie bevragen" ],
        "description" : "Raadpleeg de verblijfplaatshistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.\nHet meest actuele adres staat bovenaan.\n\nZoek met burgerservicenummer\n",
        "operationId" : "Verblijfplaatshistorie",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistorieQuery"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              },
              "X-Rate-Limit-Limit" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Limit"
              },
              "X-Rate-Limit-Remaining" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Remaining"
              },
              "X-Rate-Limit-Reset" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Reset"
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerblijfplaatshistorieQueryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html",
                  "title" : "Too many request",
                  "status" : 429,
                  "detail" : "The user has sent too many requests in a given amount of time (rate limiting).",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "tooManyRequests"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice BRP is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    },
    "/partnerhistorie" : {
      "post" : {
        "tags" : [ "BRP historie bevragen" ],
        "description" : "Raadpleeg de partnerhistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.\nDe meest actuele partner staat bovenaan.\n\nZoek met burgerservicenummer\n",
        "operationId" : "Partnerhistorie",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistorieQuery"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              },
              "X-Rate-Limit-Limit" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Limit"
              },
              "X-Rate-Limit-Remaining" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Remaining"
              },
              "X-Rate-Limit-Reset" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Reset"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PartnerhistorieQueryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html",
                  "title" : "Too many request",
                  "status" : 429,
                  "detail" : "The user has sent too many requests in a given amount of time (rate limiting).",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "tooManyRequests"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice BRP is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    },
    "/verblijfstitelhistorie" : {
      "post" : {
        "tags" : [ "BRP historie bevragen" ],
        "description" : "Raadpleeg de verblijfstitelhistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.\nDe meest actuele verblijfstitel staat bovenaan.\n\nZoek met burgerservicenummer\n",
        "operationId" : "Verblijfstitelhistorie",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistorieQuery"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              },
              "X-Rate-Limit-Limit" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Limit"
              },
              "X-Rate-Limit-Remaining" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Remaining"
              },
              "X-Rate-Limit-Reset" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Reset"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerblijfstitelhistorieQueryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html",
                  "title" : "Too many request",
                  "status" : 429,
                  "detail" : "The user has sent too many requests in a given amount of time (rate limiting).",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "tooManyRequests"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice BRP is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    },
    "/nationaliteithistorie" : {
      "post" : {
        "tags" : [ "BRP historie bevragen" ],
        "description" : "Raadpleeg de nationaliteithistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.\nDe meest actuele nationaliteit staat bovenaan.\n\nZoek met burgerservicenummer\n",
        "operationId" : "Nationaliteithistorie",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistorieQuery"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              },
              "X-Rate-Limit-Limit" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Limit"
              },
              "X-Rate-Limit-Remaining" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Remaining"
              },
              "X-Rate-Limit-Reset" : {
                "$ref" : "#/components/headers/X_Rate_Limit_Reset"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NationalisatiehistorieQueryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html",
                  "title" : "Too many request",
                  "status" : 429,
                  "detail" : "The user has sent too many requests in a given amount of time (rate limiting).",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "tooManyRequests"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice BRP is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "HistorieQuery" : {
        "required" : [ "burgerservicenummer", "fields", "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "burgerservicenummer" : {
            "$ref" : "#/components/schemas/Burgerservicenummer"
          },
          "fields" : {
            "maxItems" : 130,
            "minItems" : 1,
            "type" : "array",
            "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een lijst van paden die verwijzen naar de gewenste velden op te nemen \n([zie functionele specificaties 'fields' properties](https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen/develop/features/fields.feature)). \nDe te gebruiken paden zijn beschreven in [fields-Persoon.csv](https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen/develop/features/fields-Verblijfplaatshistorie.csv) \nwaarbij in de eerste kolom het fields-pad staat en in de tweede kolom het volledige pad naar het gewenste veld. \n",
            "items" : {
              "$ref" : "#/components/schemas/Field"
            }
          }
        },
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "RaadpleegMetPeildatum" : "#/components/schemas/RaadpleegMetPeildatum",
            "RaadpleegMetPeriode" : "#/components/schemas/RaadpleegMetPeriode"
          }
        }
      },
      "RaadpleegMetPeildatum" : {
        "required" : [ "peildatum" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/HistorieQuery"
        }, {
          "type" : "object",
          "properties" : {
            "peildatum" : {
              "type" : "string",
              "description" : "De datum waarop de resource wordt opgevraagd.\n",
              "format" : "date",
              "example" : "1964-09-24"
            }
          }
        } ]
      },
      "RaadpleegMetPeriode" : {
        "required" : [ "datumTotEnMet", "datumVan" ],
        "allOf" : [ {
          "$ref" : "#/components/schemas/HistorieQuery"
        }, {
          "type" : "object",
          "properties" : {
            "datumVan" : {
              "type" : "string",
              "description" : "De begindatum van de periode waarover de resource wordt opgevraagd.\n",
              "format" : "date",
              "example" : "1964-09-24"
            },
            "datumTotEnMet" : {
              "type" : "string",
              "description" : "De einddatum van de periode waarover de resource wordt opgevraagd.\n",
              "format" : "date",
              "example" : "1964-09-24"
            }
          }
        } ]
      },
      "VerblijfplaatshistorieQueryResponse" : {
        "type" : "object",
        "properties" : {
          "verblijfplaatshistorie" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AbstractVerblijfplaats"
            }
          },
          "geheimhoudingPersoonsgegevens" : {
            "$ref" : "#/components/schemas/GeheimhoudingPersoonsgegevens"
          }
        }
      },
      "PartnerhistorieQueryResponse" : {
        "type" : "object",
        "properties" : {
          "partnerhistorie" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Partner"
            }
          },
          "geheimhoudingPersoonsgegevens" : {
            "$ref" : "#/components/schemas/GeheimhoudingPersoonsgegevens"
          }
        }
      },
      "VerblijfstitelhistorieQueryResponse" : {
        "type" : "object",
        "properties" : {
          "verblijfstitelhistorie" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Verblijfstitel"
            }
          },
          "geheimhoudingPersoonsgegevens" : {
            "$ref" : "#/components/schemas/GeheimhoudingPersoonsgegevens"
          }
        }
      },
      "NationalisatiehistorieQueryResponse" : {
        "type" : "object",
        "properties" : {
          "nationaliteithistorie" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AbstractNationaliteit"
            }
          },
          "geheimhoudingPersoonsgegevens" : {
            "$ref" : "#/components/schemas/GeheimhoudingPersoonsgegevens"
          }
        }
      },
      "BadRequestFoutbericht" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Foutbericht"
        }, {
          "type" : "object",
          "properties" : {
            "invalidParams" : {
              "type" : "array",
              "description" : "Foutmelding per fout in een parameter. Alle gevonden fouten worden één keer teruggemeld.",
              "items" : {
                "$ref" : "#/components/schemas/InvalidParams"
              }
            }
          }
        } ]
      },
      "Foutbericht" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Link naar meer informatie over deze fout",
            "format" : "uri"
          },
          "title" : {
            "pattern" : "^[a-zA-Z0-9À-ž \\.\\-]{1,80}$",
            "type" : "string",
            "description" : "Beschrijving van de fout"
          },
          "status" : {
            "maximum" : 600,
            "minimum" : 100,
            "type" : "integer",
            "description" : "Http status code"
          },
          "detail" : {
            "pattern" : "^[a-zA-Z0-9À-ž \\.\\-\\(\\)\\,]{1,200}$",
            "type" : "string",
            "description" : "Details over de fout"
          },
          "instance" : {
            "type" : "string",
            "description" : "Uri van de aanroep die de fout heeft veroorzaakt",
            "format" : "uri"
          },
          "code" : {
            "minLength" : 1,
            "pattern" : "^[a-zA-Z0-9]{1,25}$",
            "type" : "string",
            "description" : "Systeemcode die het type fout aangeeft"
          }
        },
        "description" : "Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807)."
      },
      "InvalidParams" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "format" : "uri",
            "example" : "https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer"
          },
          "name" : {
            "pattern" : "^[a-zA-Z0-9\\.,_]{1,30}$",
            "type" : "string",
            "description" : "Naam van de parameter",
            "example" : "verblijfplaats__huisnummer"
          },
          "code" : {
            "minLength" : 1,
            "pattern" : "^[a-zA-Z0-9\\.,_]{1,25}$",
            "type" : "string",
            "description" : "Systeemcode die het type fout aangeeft",
            "example" : "integer"
          },
          "reason" : {
            "pattern" : "^[a-zA-Z0-9\\.,_ ]{1,80}$",
            "type" : "string",
            "description" : "Beschrijving van de fout op de parameterwaarde",
            "example" : "Waarde is geen geldige integer."
          }
        },
        "description" : "Details over fouten in opgegeven parameters"
      },
      "Burgerservicenummer" : {
        "pattern" : "^[0-9]{9}$",
        "type" : "string",
        "example" : "555555021"
      },
      "Field" : {
        "pattern" : "^[a-zA-Z0-9\\._]{1,200}$",
        "type" : "string",
        "description" : "Hiermee kun je het pad van het gewenste veld van een resource opgeven \n([zie functionele specificaties 'fields' properties](https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/develop/features/fields.feature)). \nDe te gebruiken paden zijn beschreven in [fields-Persoon.csv](https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/develop/features/fields-Persoon.csv) \n(voor gebruik fields bij raadplegen) en [fields-PersoonBeperkt.csv](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/develop/features/fields-PersoonBeperkt.csv) \n(voor gebruik fields bij zoeken) waarbij in de eerste kolom een mogelijk pad naar een gewenste veld staat en in de tweede kolom het volledige pad naar het betreffende veld.\nBij opgave van een pad dat verwijst naar een niet-bestaand veld wordt een 400 Bad Request teruggegeven.\n"
      },
      "AbstractVerblijfplaats" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Gegevens over het verblijf of de woonlocatie van een persoon.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "VerblijfplaatsBuitenland" : "#/components/schemas/VerblijfplaatsBuitenland",
            "Adres" : "#/components/schemas/Adres",
            "VerblijfplaatsOnbekend" : "#/components/schemas/VerblijfplaatsOnbekend",
            "Locatie" : "#/components/schemas/Locatie"
          }
        }
      },
      "VerblijfplaatsBuitenland" : {
        "description" : "* **gemeenteVanInschrijving** - Wordt gevuld op basis van de waarden die voorkomen in de tabel \"Gemeenten\" voor een gemeente in Nederland of de omschrijving van een buitenlandse plaats\n* **land** - land waar de persoon is overleden. Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Landen' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "verblijfadres" : {
              "$ref" : "#/components/schemas/VerblijfadresBuitenland"
            },
            "adressering" : {
              "$ref" : "#/components/schemas/AdresseringBeperkt"
            },
            "datumInschrijvingInGemeente" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "datumVan" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/VerblijfplaatsBuitenlandInOnderzoek"
            }
          }
        } ]
      },
      "VerblijfadresBuitenland" : {
        "type" : "object",
        "properties" : {
          "regel1" : {
            "$ref" : "#/components/schemas/Regel1"
          },
          "regel2" : {
            "$ref" : "#/components/schemas/Regel2"
          },
          "regel3" : {
            "$ref" : "#/components/schemas/Regel3"
          },
          "land" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/VerblijfadresBuitenlandInOnderzoek"
          }
        }
      },
      "Regel1" : {
        "maxLength" : 40,
        "type" : "string",
        "description" : "Het eerste deel van een buitenlands adres. Vaak is dit een combinatie van de straat en huisnummer.\n",
        "example" : "1600 Pennsylvania Avenue NW"
      },
      "Regel2" : {
        "maxLength" : 50,
        "type" : "string",
        "description" : "Het tweede deel van een buitenlands adres. Vaak is dit een combinatie van woonplaats eventueel in combinatie met de postcode.\n",
        "example" : "Washington, DC 20500"
      },
      "Regel3" : {
        "maxLength" : 35,
        "type" : "string",
        "description" : "Het derde deel van een buitenlands adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.\n",
        "example" : "Selangor"
      },
      "VerblijfadresBuitenlandInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "regel1" : {
              "type" : "boolean"
            },
            "regel2" : {
              "type" : "boolean"
            },
            "regel3" : {
              "type" : "boolean"
            },
            "land" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "VerblijfplaatsBuitenlandInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "datumInschrijvingInGemeente" : {
              "type" : "boolean"
            },
            "gemeenteVanInschrijving" : {
              "type" : "boolean"
            },
            "datumVan" : {
              "type" : "boolean"
            },
            "datumIngangGeldigheid" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "Adres" : {
        "description" : "Gegevens over het adres van een persoon.\n* **functieAdres** - Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Functie_Adres' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n* **aanduidingBijHuisnummer** - Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Aanduiding_Bij_Huisnummer' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n* **datumVan** : de datum van aangifte of ambtshalve melding van verblijf en adres.\n* **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden.\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "verblijfadres" : {
              "$ref" : "#/components/schemas/VerblijfadresBinnenland"
            },
            "functieAdres" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "adresseerbaarObjectIdentificatie" : {
              "$ref" : "#/components/schemas/AdresseerbaarObjectIdentificatie"
            },
            "nummeraanduidingIdentificatie" : {
              "$ref" : "#/components/schemas/NummeraanduidingIdentificatie"
            },
            "adressering" : {
              "$ref" : "#/components/schemas/AdresseringBeperkt"
            },
            "datumInschrijvingInGemeente" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "datumVan" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/AdresInOnderzoek"
            }
          }
        } ]
      },
      "VerblijfadresBinnenland" : {
        "type" : "object",
        "properties" : {
          "straat" : {
            "$ref" : "#/components/schemas/Straat"
          },
          "huisnummer" : {
            "$ref" : "#/components/schemas/Huisnummer"
          },
          "huisletter" : {
            "$ref" : "#/components/schemas/Huisletter"
          },
          "huisnummertoevoeging" : {
            "$ref" : "#/components/schemas/Huisnummertoevoeging"
          },
          "aanduidingBijHuisnummer" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "postcode" : {
            "$ref" : "#/components/schemas/Postcode"
          },
          "woonplaats" : {
            "$ref" : "#/components/schemas/Woonplaats"
          },
          "korteNaam" : {
            "$ref" : "#/components/schemas/KorteNaam"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/VerblijfadresBinnenlandInOnderzoek"
          }
        }
      },
      "Straat" : {
        "maxLength" : 80,
        "type" : "string",
        "example" : "Tulpstraat"
      },
      "Huisnummer" : {
        "maximum" : 99999,
        "minimum" : 1,
        "type" : "integer",
        "description" : "Een nummer dat door de gemeente aan een adresseerbaar object is gegeven.\n",
        "example" : 14
      },
      "Huisletter" : {
        "pattern" : "^[a-zA-Z]{1}$",
        "type" : "string",
        "description" : "Een toevoeging aan een huisnummer in de vorm van een letter die door de gemeente aan een adresseerbaar object is gegeven.\n",
        "example" : "a"
      },
      "Huisnummertoevoeging" : {
        "pattern" : "^[a-zA-Z0-9 \\-]{1,4}$",
        "type" : "string",
        "description" : "Een toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter die door de gemeente aan een adresseerbaar object is gegeven.\n",
        "example" : "bis"
      },
      "Postcode" : {
        "pattern" : "^[1-9]{1}[0-9]{3}[ ]?[A-Za-z]{2}$",
        "type" : "string",
        "description" : "De door PostNL vastgestelde code die bij een bepaalde combinatie van een straatnaam en een huisnummer hoort.\n",
        "example" : "2341SX"
      },
      "Woonplaats" : {
        "title" : "woonplaats naam",
        "pattern" : "^[a-zA-Z0-9�-� \\(\\)\\,\\.\\-\\']{1,80}$",
        "type" : "string",
        "description" : "Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam.\n",
        "example" : "Duiven"
      },
      "KorteNaam" : {
        "maxLength" : 24,
        "type" : "string",
        "description" : "De offici�le openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie.\n"
      },
      "VerblijfadresBinnenlandInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "aanduidingBijHuisnummer" : {
              "type" : "boolean"
            },
            "huisletter" : {
              "type" : "boolean"
            },
            "huisnummer" : {
              "type" : "boolean"
            },
            "huisnummertoevoeging" : {
              "type" : "boolean"
            },
            "straat" : {
              "type" : "boolean"
            },
            "postcode" : {
              "type" : "boolean"
            },
            "korteNaam" : {
              "type" : "boolean"
            },
            "woonplaats" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "AdresseerbaarObjectIdentificatie" : {
        "pattern" : "^[0-9]{16}$",
        "type" : "string",
        "description" : "De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn.\n",
        "example" : "0226010000038820"
      },
      "NummeraanduidingIdentificatie" : {
        "pattern" : "^[0-9]{16}$",
        "type" : "string",
        "description" : "Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.\n",
        "example" : "0518200000366054"
      },
      "AdresInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "datumInschrijvingInGemeente" : {
              "type" : "boolean"
            },
            "gemeenteVanInschrijving" : {
              "type" : "boolean"
            },
            "datumVan" : {
              "type" : "boolean"
            },
            "datumIngangGeldigheid" : {
              "type" : "boolean"
            },
            "nummeraanduidingIdentificatie" : {
              "type" : "boolean"
            },
            "adresseerbaarObjectIdentificatie" : {
              "type" : "boolean"
            },
            "functieAdres" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "VerblijfplaatsOnbekend" : {
        "description" : "* **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten. Wordt gevuld op basis van de waarden die voorkomen in de tabel \"Gemeenten\" voor een gemeente in Nederland of de omschrijving van een buitenlandse plaats\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "functieAdres" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "adressering" : {
              "$ref" : "#/components/schemas/AdresseringBeperkt"
            },
            "datumInschrijvingInGemeente" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "datumVan" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/VerblijfplaatsOnbekendInOnderzoek"
            }
          }
        } ]
      },
      "VerblijfplaatsOnbekendInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "datumInschrijvingInGemeente" : {
              "type" : "boolean"
            },
            "gemeenteVanInschrijving" : {
              "type" : "boolean"
            },
            "datumVan" : {
              "type" : "boolean"
            },
            "functieAdres" : {
              "type" : "boolean"
            },
            "datumIngangGeldigheid" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "Locatie" : {
        "description" : "* **functieAdres** - Wordt gevuld op basis van de waarden die voorkomen in de tabel 'soortadres' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n* **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten. Wordt gevuld op basis van de waarden die voorkomen in de tabel \"Gemeenten\" voor een gemeente in Nederland of de omschrijving van een buitenlandse plaats\n* **landVanWaarIngeschreven** : het land waar de persoon woonde voor (her)vestiging in Nederland. Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Landen' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractVerblijfplaats"
        }, {
          "type" : "object",
          "properties" : {
            "datumVan" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "functieAdres" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "verblijfadres" : {
              "$ref" : "#/components/schemas/VerblijfadresLocatie"
            },
            "adressering" : {
              "$ref" : "#/components/schemas/AdresseringBeperkt"
            },
            "datumInschrijvingInGemeente" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "gemeenteVanInschrijving" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/LocatieInOnderzoek"
            }
          }
        } ]
      },
      "VerblijfadresLocatie" : {
        "type" : "object",
        "properties" : {
          "locatiebeschrijving" : {
            "$ref" : "#/components/schemas/Locatiebeschrijving"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/VerblijfadresLocatieInOnderzoek"
          }
        }
      },
      "Locatiebeschrijving" : {
        "maxLength" : 35,
        "type" : "string",
        "description" : "Omschrijving van de ligging van een verblijfsobject, standplaats of ligplaats.\n",
        "example" : "Naast de derde brug"
      },
      "VerblijfadresLocatieInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "locatiebeschrijving" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "LocatieInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "datumInschrijvingInGemeente" : {
              "type" : "boolean"
            },
            "gemeenteVanInschrijving" : {
              "type" : "boolean"
            },
            "datumVan" : {
              "type" : "boolean"
            },
            "functieAdres" : {
              "type" : "boolean"
            },
            "datumIngangGeldigheid" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "GeheimhoudingPersoonsgegevens" : {
        "type" : "boolean",
        "description" : "Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.\n"
      },
      "Partner" : {
        "type" : "object",
        "properties" : {
          "burgerservicenummer" : {
            "$ref" : "#/components/schemas/Burgerservicenummer"
          },
          "geslacht" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "soortVerbintenis" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "naam" : {
            "$ref" : "#/components/schemas/NaamGerelateerde"
          },
          "geboorte" : {
            "$ref" : "#/components/schemas/Geboorte"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/PartnerInOnderzoek"
          },
          "aangaanHuwelijkPartnerschap" : {
            "$ref" : "#/components/schemas/AangaanHuwelijkPartnerschap"
          },
          "ontbindingHuwelijkPartnerschap" : {
            "$ref" : "#/components/schemas/OntbindingHuwelijkPartnerschap"
          }
        }
      },
      "PartnerInOnderzoek" : {
        "description" : "Geeft aan welke gegevens over het huwelijk of het partnerschap in onderzoek zijn.\nZie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "burgerservicenummer" : {
              "type" : "boolean"
            },
            "geslacht" : {
              "type" : "boolean"
            },
            "soortVerbintenis" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "AangaanHuwelijkPartnerschap" : {
        "type" : "object",
        "properties" : {
          "datum" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "land" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "plaats" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/AangaanHuwelijkPartnerschapInOnderzoek"
          }
        },
        "description" : "Gegevens over de voltrekking van het huwelijk of het aangaan van het geregistreerd partnerschap.\n* **datum** - De datum waarop het huwelijk is voltrokken of het partnerschap is aangegaan.\n* **land** - Het land waar het huwelijk is voltrokken of het partnerschap is aangegaan. Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Landen' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n* **plaats** - De gemeente waar het huwelijk is voltrokken of het partnerschap is aangegaan. Wordt gevuld op basis van de waarden die voorkomen in de tabel \"Gemeenten\" voor een gemeente in Nederland of de omschrijving van een buitenlandse plaats.\n"
      },
      "AangaanHuwelijkPartnerschapInOnderzoek" : {
        "description" : "Geeft aan welke gegevens over het voltrekken van het huwelijk of aangaan van het partnerschap in onderzoek zijn.\nZie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "type" : "boolean"
            },
            "land" : {
              "type" : "boolean"
            },
            "plaats" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "OntbindingHuwelijkPartnerschap" : {
        "type" : "object",
        "properties" : {
          "indicatieHuwelijkPartnerschapBeeindigd" : {
            "type" : "boolean"
          },
          "datum" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "land" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "plaats" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "reden" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/OntbindingHuwelijkPartnerschapInOnderzoek"
          }
        },
        "description" : "Gegevens over de ontbinding van het huwelijk of het geregistreerd partnerschap.\n* **datum** : De datum waarop het huwelijk of het partnerschap is ontbonden.\n"
      },
      "OntbindingHuwelijkPartnerschapInOnderzoek" : {
        "description" : "Geeft aan welke gegevens over het onbinden van het huwelijk of aangaan van het partnerschap in onderzoek zijn.\nZie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "indicatieHuwelijkPartnerschapBeeindigd" : {
              "type" : "boolean"
            },
            "datum" : {
              "type" : "boolean"
            },
            "land" : {
              "type" : "boolean"
            },
            "plaats" : {
              "type" : "boolean"
            },
            "reden" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "Verblijfstitel" : {
        "type" : "object",
        "properties" : {
          "aanduiding" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "datumEinde" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "datumIngang" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/VerblijfstitelInOnderzoek"
          }
        },
        "description" : "Gegevens over de verblijfsrechtelijke status van de persoon.\n* **datumEinde**: Datum waarop de geldigheid van de gegevens over de verblijfstitel is beëindigd.\n* **datumIngang**: Datum waarop de gegevens over de verblijfstitel geldig zijn geworden.\n* **aanduiding** : Verblijfstiteltabel die aangeeft over welke verblijfsrechtelijke status de persoon beschikt. Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Verblijfstitel' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n"
      },
      "VerblijfstitelInOnderzoek" : {
        "description" : "Geeft aan welke gegevens over de verblijfstitel in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "aanduiding" : {
              "type" : "boolean"
            },
            "datumEinde" : {
              "type" : "boolean"
            },
            "datumIngang" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "AbstractNationaliteit" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "redenOpname" : {
            "$ref" : "#/components/schemas/Waardetabel"
          }
        },
        "description" : "* **redenOpname** - De reden op grond waarvan de persoon de nationaliteit gekregen heeft. Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Reden_Nationaliteit' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n",
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "Nationaliteit" : "#/components/schemas/Nationaliteit",
            "BehandeldAlsNederlander" : "#/components/schemas/BehandeldAlsNederlander",
            "VastgesteldNietNederlander" : "#/components/schemas/VastgesteldNietNederlander",
            "Staatloos" : "#/components/schemas/Staatloos",
            "NationaliteitOnbekend" : "#/components/schemas/NationaliteitOnbekend"
          }
        }
      },
      "Nationaliteit" : {
        "description" : "* **nationaliteit** - wordt gevuld op basis van de waarden die voorkomen in de tabel 'Nationaliteiten' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "nationaliteit" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/NationaliteitInOnderzoek"
            }
          }
        } ]
      },
      "NationaliteitInOnderzoek" : {
        "description" : "Geeft aan welke gegevens over de nationaliteit in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "nationaliteit" : {
              "type" : "boolean"
            },
            "redenOpname" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "BehandeldAlsNederlander" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/BijzonderNederlanderschapInOnderzoek"
            }
          }
        } ]
      },
      "BijzonderNederlanderschapInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "redenOpname" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "VastgesteldNietNederlander" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/BijzonderNederlanderschapInOnderzoek"
            }
          }
        } ]
      },
      "Staatloos" : {
        "description" : "* **redenOpname** : De reden op grond waarvan de persoon de nationaliteit gekregen heeft.\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/StaatloosInOnderzoek"
            }
          }
        } ]
      },
      "StaatloosInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "redenOpname" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "NationaliteitOnbekend" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractNationaliteit"
        }, {
          "type" : "object",
          "properties" : {
            "datumIngangGeldigheid" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "datumTot" : {
              "$ref" : "#/components/schemas/AbstractDatum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/NationaliteitOnbekendInOnderzoek"
            }
          }
        } ]
      },
      "NationaliteitOnbekendInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "type" : {
              "type" : "boolean"
            },
            "redenOpname" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "AdresseringBeperkt" : {
        "type" : "object",
        "properties" : {
          "adresregel1" : {
            "$ref" : "#/components/schemas/Adresregel1"
          },
          "adresregel2" : {
            "$ref" : "#/components/schemas/Adresregel2"
          },
          "adresregel3" : {
            "$ref" : "#/components/schemas/Adresregel3"
          },
          "land" : {
            "$ref" : "#/components/schemas/Waardetabel"
          }
        }
      },
      "Adresregel1" : {
        "maxLength" : 40,
        "type" : "string",
        "description" : "Het eerste deel van een adres is een combinatie van de straat en huisnummer.\n",
        "example" : "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
      },
      "Adresregel2" : {
        "maxLength" : 50,
        "type" : "string",
        "description" : "Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode.\n",
        "example" : "1234AA Nootdorp"
      },
      "Adresregel3" : {
        "maxLength" : 35,
        "type" : "string",
        "description" : "Het derde deel van een adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.\n",
        "example" : "Selangor"
      },
      "AbstractDatum" : {
        "required" : [ "type" ],
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "langFormaat" : {
            "pattern" : "^[a-z0-9 ]{1,17}$",
            "type" : "string"
          }
        },
        "discriminator" : {
          "propertyName" : "type",
          "mapping" : {
            "Datum" : "#/components/schemas/VolledigeDatum",
            "DatumOnbekend" : "#/components/schemas/DatumOnbekend",
            "JaarDatum" : "#/components/schemas/JaarDatum",
            "JaarMaandDatum" : "#/components/schemas/JaarMaandDatum"
          }
        }
      },
      "VolledigeDatum" : {
        "required" : [ "datum" ],
        "description" : "Datum conform iso8601",
        "example" : {
          "value" : {
            "type" : "Datum",
            "datum" : "2018-07-01",
            "langFormaat" : "1 juli 2018"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "type" : "string",
              "format" : "date"
            }
          }
        } ]
      },
      "DatumOnbekend" : {
        "required" : [ "onbekend" ],
        "description" : "representatie voor een volledig onbekend datum",
        "example" : {
          "value" : {
            "type" : "DatumOnbekend",
            "onbekend" : true,
            "langFormaat" : "onbekend"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "onbekend" : {
              "type" : "boolean",
              "default" : true
            }
          }
        } ]
      },
      "JaarDatum" : {
        "required" : [ "jaar" ],
        "description" : "representatie voor een datum waarvan maand en dag onbekend zijn",
        "example" : {
          "value" : {
            "type" : "JaarDatum",
            "jaar" : 2018,
            "langFormaat" : 2018
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "jaar" : {
              "$ref" : "#/components/schemas/Jaar"
            }
          }
        } ]
      },
      "Jaar" : {
        "maximum" : 9999,
        "minimum" : 1,
        "type" : "integer",
        "format" : "int32"
      },
      "JaarMaandDatum" : {
        "required" : [ "jaar", "maand" ],
        "description" : "representatie voor een datum waarvan de dag onbekend is",
        "example" : {
          "value" : {
            "type" : "JaarMaandDatum",
            "jaar" : 2018,
            "maand" : 7,
            "langFormaat" : "juli 2018"
          }
        },
        "allOf" : [ {
          "$ref" : "#/components/schemas/AbstractDatum"
        }, {
          "type" : "object",
          "properties" : {
            "jaar" : {
              "$ref" : "#/components/schemas/Jaar"
            },
            "maand" : {
              "$ref" : "#/components/schemas/Maand"
            }
          }
        } ]
      },
      "Maand" : {
        "maximum" : 12,
        "minimum" : 1,
        "type" : "integer",
        "format" : "int32"
      },
      "Waardetabel" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "pattern" : "^[a-zA-Z0-9 \\.]+$",
            "type" : "string",
            "example" : "6030"
          },
          "omschrijving" : {
            "pattern" : "^[a-zA-Z0-9À-ž \\'\\,\\(\\)\\.\\-]{1,200}$",
            "type" : "string",
            "example" : "Nederland"
          }
        }
      },
      "InOnderzoek" : {
        "type" : "object",
        "properties" : {
          "datumIngangOnderzoek" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "NaamGerelateerde" : {
        "type" : "object",
        "properties" : {
          "voornamen" : {
            "$ref" : "#/components/schemas/Voornamen"
          },
          "adellijkeTitelPredicaat" : {
            "$ref" : "#/components/schemas/AdellijkeTitelPredicaatType"
          },
          "voorvoegsel" : {
            "$ref" : "#/components/schemas/Voorvoegsel"
          },
          "geslachtsnaam" : {
            "$ref" : "#/components/schemas/Geslachtsnaam"
          },
          "voorletters" : {
            "$ref" : "#/components/schemas/Voorletters"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/NaamInOnderzoek"
          }
        }
      },
      "Voornamen" : {
        "maxLength" : 200,
        "pattern" : "^[a-zA-Z0-9À-ž \\.\\-\\']{1,200}$",
        "type" : "string",
        "description" : "De verzameling namen voor de geslachtsnaam, gescheiden door spaties.\n"
      },
      "AdellijkeTitelPredicaatType" : {
        "description" : "wordt gevuld op basis van de waarden die voorkomen in de tabel 'Adellijke_Titel_Predicaat' uit de Haal-Centraal-BRP-tabellen-bevragen API. \nDe property **soort** geeft aan of het een 'predicaat' of een 'titel' betreft. \n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Waardetabel"
        }, {
          "properties" : {
            "soort" : {
              "$ref" : "#/components/schemas/AdellijkeTitelPredicaatSoort"
            }
          },
          "example" : {
            "value" : {
              "code" : "JV",
              "omschrijving" : "jonkvrouw",
              "soort" : "predicaat"
            }
          }
        } ]
      },
      "AdellijkeTitelPredicaatSoort" : {
        "type" : "string",
        "enum" : [ "titel", "predicaat" ]
      },
      "Voorvoegsel" : {
        "maxLength" : 10,
        "pattern" : "^[a-zA-Z \\']{1,10}$",
        "type" : "string",
        "example" : "de"
      },
      "Geslachtsnaam" : {
        "pattern" : "^[a-zA-Z0-9À-ž \\.\\-\\']{1,200}$",
        "type" : "string",
        "description" : "De achternaam van een persoon.\n",
        "example" : "Vries"
      },
      "Voorletters" : {
        "pattern" : "^[a-zA-Z0-9À-ž \\.]{1,40}$",
        "type" : "string",
        "description" : "De voorletters van de persoon, afgeleid van de voornamen.\n",
        "example" : "P.J."
      },
      "NaamInOnderzoek" : {
        "description" : "Geeft aan welke gegevens over de naam in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "voornamen" : {
              "type" : "boolean"
            },
            "adellijkeTitelPredicaat" : {
              "type" : "boolean"
            },
            "voorvoegsel" : {
              "type" : "boolean"
            },
            "geslachtsnaam" : {
              "type" : "boolean"
            },
            "voorletters" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "Geboorte" : {
        "description" : "Gegevens over de geboorte.\n* **datum** - datum waarop de persoon is geboren.\n* **land** - land waar de persoon is geboren. Wordt gevuld op basis van de waarden die voorkomen in de tabel 'Landen' uit de Haal-Centraal-BRP-tabellen-bevragen API.\n* **plaats** - gemeente waar de persoon is geboren. Wordt gevuld op basis van de waarden die voorkomen in de tabel \"Gemeenten\" voor een gemeente in Nederland of als de persoon is geboren buiten Nederland de omschrijving van een buitenlandse plaatsnaam of aanduiding.\n",
        "allOf" : [ {
          "$ref" : "#/components/schemas/GeboorteBeperkt"
        }, {
          "type" : "object",
          "properties" : {
            "land" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "plaats" : {
              "$ref" : "#/components/schemas/Waardetabel"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/GeboorteInOnderzoek"
            }
          }
        } ]
      },
      "GeboorteBeperkt" : {
        "type" : "object",
        "properties" : {
          "datum" : {
            "$ref" : "#/components/schemas/AbstractDatum"
          }
        }
      },
      "GeboorteInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/InOnderzoek"
        }, {
          "type" : "object",
          "properties" : {
            "datum" : {
              "type" : "boolean"
            },
            "land" : {
              "type" : "boolean"
            },
            "plaats" : {
              "type" : "boolean"
            }
          }
        } ]
      }
    },
    "headers" : {
      "api_version" : {
        "schema" : {
          "pattern" : "^[1-9][0-9]{0,2}.[0-9]{1,3}.[0-9]{1,3}$",
          "type" : "string",
          "description" : "Geeft een specifieke API-versie aan in de context van een specifieke aanroep.",
          "example" : "1.0.0"
        }
      },
      "warning" : {
        "schema" : {
          "maxLength" : 500,
          "type" : "string",
          "description" : "zie RFC 7234. In het geval een major versie wordt uitgefaseerd, gebruiken we warn-code 299 (\"Miscellaneous Persistent Warning\") en het API end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd door de warn-text met de human-readable waarschuwing",
          "example" : "299 https://service.../api/.../v1 \"Deze versie van de API is verouderd en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie hier de documentatie: https://omgevingswet.../api/.../v1\"."
        }
      },
      "X_Rate_Limit_Limit" : {
        "schema" : {
          "type" : "integer"
        }
      },
      "X_Rate_Limit_Remaining" : {
        "schema" : {
          "type" : "integer"
        }
      },
      "X_Rate_Limit_Reset" : {
        "schema" : {
          "type" : "integer"
        }
      }
    }
  }
}