openapi: 3.0.3
info:
  title: BRP historie bevragen
  description: |
    API voor het zoeken en raadplegen van historische verblijfplaatsen, partners, nationaliteiten en verblijfstitels uit de BRP (inclusief de RNI).

    Zie de [Functionele documentatie](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen/tree/v1.0.0/features) voor nadere toelichting.
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen
  license:
    name: "European Union Public License, version 1.2 (EUPL-1.2)"
    url: https://eupl.eu/1.2/nl/
  version: 2.0.0
servers:
- url: https://www.haalcentraal.nl/haalcentraal/api/brphistorie
  description: APILAB testserver historie
tags:
- name: BRP historie bevragen
  description: Zoeken historische gegevens
paths:
  /verblijfplaatshistorie:
    post:
      tags:
      - BRP historie bevragen
      description: |
        Raadpleeg de verblijfplaatshistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.
        Het meest actuele adres staat bovenaan.

        Zoek met burgerservicenummer
      operationId: Verblijfplaatshistorie
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistorieQuery'
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            warning:
              $ref: '#/components/headers/warning'
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X_Rate_Limit_Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X_Rate_Limit_Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X_Rate_Limit_Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerblijfplaatshistorieQueryResponse'
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: huisnummer
                  code: integer
                  reason: Waarde is geen geldig getal.
        "401":
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "406":
          description: Not Acceptable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "415":
          description: Unsupported Media Type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
                title: Unsupported Media Type
                status: 415
                detail: The server is refusing the request because the entity of the
                  request is in a format not supported by the requested resource for
                  the requested method.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "429":
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
                title: Too many request
                status: 429
                detail: The user has sent too many requests in a given amount of time
                  (rate limiting).
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: tooManyRequests
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice BRP is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
components:
  schemas:
    VerblijfplaatshistorieQueryResponse:
      type: object
      properties:
        verblijfplaatsen:
          type: array
          items:
            $ref: '#/components/schemas/GbaVerblijfplaatsVoorkomen'
        opschortingBijhouding:
          $ref: '#/components/schemas/GbaOpschortingBijhouding'
        geheimhoudingPersoonsgegevens:
          $ref: '#/components/schemas/GbaGeheimhoudingPersoonsgegevens'
    HistorieQuery:
      required:
      - burgerservicenummer
      - type
      type: object
      properties:
        type:
          type: string
        burgerservicenummer:
          $ref: '#/components/schemas/Burgerservicenummer'
      discriminator:
        propertyName: type
        mapping:
          RaadpleegMetPeildatum: '#/components/schemas/RaadpleegMetPeildatum'
          RaadpleegMetPeriode: '#/components/schemas/RaadpleegMetPeriode'
    RaadpleegMetPeildatum:
      required:
      - peildatum
      allOf:
      - $ref: '#/components/schemas/HistorieQuery'
      - type: object
        properties:
          peildatum:
            type: string
            description: |
              De datum waarop de resource wordt opgevraagd.
            format: date
            example: 1964-09-24
    RaadpleegMetPeriode:
      required:
      - datumTot
      - datumVan
      allOf:
      - $ref: '#/components/schemas/HistorieQuery'
      - type: object
        properties:
          datumVan:
            type: string
            description: |
              De begindatum van de periode waarover de resource wordt opgevraagd.
            format: date
            example: 1964-09-24
          datumTot:
            type: string
            description: |
              De einddatum van de periode waarover de resource wordt opgevraagd.
            format: date
            example: 1964-09-24
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - type: object
        properties:
          invalidParams:
            type: array
            description: Foutmelding per fout in een parameter. Alle gevonden fouten
              worden één keer teruggemeld.
            items:
              $ref: '#/components/schemas/InvalidParams'
    Foutbericht:
      type: object
      properties:
        type:
          type: string
          description: Link naar meer informatie over deze fout
          format: uri
        title:
          pattern: "^[a-zA-Z0-9À-ž \\.\\-]{1,80}$"
          type: string
          description: Beschrijving van de fout
        status:
          maximum: 600
          minimum: 100
          type: integer
          description: Http status code
        detail:
          pattern: "^[a-zA-Z0-9À-ž \\.\\-\\(\\)\\,]{1,200}$"
          type: string
          description: Details over de fout
        instance:
          type: string
          description: Uri van de aanroep die de fout heeft veroorzaakt
          format: uri
        code:
          minLength: 1
          pattern: "^[a-zA-Z0-9]{1,25}$"
          type: string
          description: Systeemcode die het type fout aangeeft
      description: "Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807)."
    InvalidParams:
      type: object
      properties:
        type:
          type: string
          format: uri
          example: "https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer"
        name:
          pattern: "^[a-zA-Z0-9\\.,_]{1,30}$"
          type: string
          description: Naam van de parameter
          example: huisnummer
        code:
          minLength: 1
          pattern: "^[a-zA-Z0-9\\.,_]{1,25}$"
          type: string
          description: Systeemcode die het type fout aangeeft
          example: integer
        reason:
          pattern: "^[a-zA-Z0-9\\.,_ ]{1,80}$"
          type: string
          description: Beschrijving van de fout op de parameterwaarde
          example: Waarde is geen geldig getal.
      description: Details over fouten in opgegeven parameters
    GbaVerblijfplaatsVoorkomen:
      allOf:
      - $ref: '#/components/schemas/GbaVerblijfplaatsBeperkt'
      - type: object
        properties:
          adresseerbaarObjectIdentificatie:
            $ref: '#/components/schemas/AdresseerbaarObjectIdentificatie'
          nummeraanduidingIdentificatie:
            $ref: '#/components/schemas/NummeraanduidingIdentificatie'
          datumAanvangAdresBuitenland:
            $ref: '#/components/schemas/GbaDatum'
          datumAanvangVolgendeAdresBuitenland:
            $ref: '#/components/schemas/GbaDatum'
          datumAanvangAdreshouding:
            $ref: '#/components/schemas/GbaDatum'
          datumAanvangVolgendeAdreshouding:
            $ref: '#/components/schemas/GbaDatum'
          functieAdres:
            $ref: '#/components/schemas/Waardetabel'
          naamOpenbareRuimte:
            $ref: '#/components/schemas/NaamOpenbareRuimte'
          gemeenteVanInschrijving:
            $ref: '#/components/schemas/Waardetabel'
          rni:
            $ref: '#/components/schemas/RniDeelnemer'
          inOnderzoekVolgendeVerblijfplaats:
            $ref: '#/components/schemas/GbaInOnderzoek'
    GbaOpschortingBijhouding:
      allOf:
      - $ref: '#/components/schemas/OpschortingBijhoudingBasis'
      - type: object
        properties:
          datum:
            $ref: '#/components/schemas/GbaDatum'
        description: |
          * **datum**: de datum waarop de bijhouding van de persoonsgegevens is gestaakt.
    OpschortingBijhoudingBasis:
      type: object
      properties:
        reden:
          $ref: '#/components/schemas/Waardetabel'
      description: |
        * **reden** - wordt gevuld met waarden voor 'Reden_Opschorting_Bijhouding' in 'tabelwaarden.csv'.
    GbaGeheimhoudingPersoonsgegevens:
      type: integer
    Burgerservicenummer:
      pattern: "^[0-9]{9}$"
      type: string
      example: "555555021"
    GbaVerblijfplaatsBeperkt:
      type: object
      properties:
        straat:
          $ref: '#/components/schemas/Straat'
        huisnummer:
          $ref: '#/components/schemas/Huisnummer'
        huisletter:
          $ref: '#/components/schemas/Huisletter'
        huisnummertoevoeging:
          $ref: '#/components/schemas/Huisnummertoevoeging'
        aanduidingBijHuisnummer:
          $ref: '#/components/schemas/Waardetabel'
        postcode:
          $ref: '#/components/schemas/Postcode'
        woonplaats:
          $ref: '#/components/schemas/Woonplaats'
        locatiebeschrijving:
          $ref: '#/components/schemas/Locatiebeschrijving'
        land:
          $ref: '#/components/schemas/Waardetabel'
        regel1:
          $ref: '#/components/schemas/Regel1'
        regel2:
          $ref: '#/components/schemas/Regel2'
        regel3:
          $ref: '#/components/schemas/Regel3'
        inOnderzoek:
          $ref: '#/components/schemas/GbaInOnderzoek'
    Straat:
      maxLength: 24
      type: string
      example: Tulpstraat
    Huisnummer:
      maximum: 99999
      minimum: 1
      type: integer
      description: |
        Een nummer dat door de gemeente aan een adresseerbaar object is gegeven.
      example: 14
    Huisletter:
      pattern: "^[a-zA-Z]{1}$"
      type: string
      description: |
        Een toevoeging aan een huisnummer in de vorm van een letter die door de gemeente aan een adresseerbaar object is gegeven.
      example: a
    Huisnummertoevoeging:
      pattern: "^[a-zA-Z0-9 \\-]{1,4}$"
      type: string
      description: |
        Een toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter die door de gemeente aan een adresseerbaar object is gegeven.
      example: bis
    Postcode:
      pattern: "^[1-9]{1}[0-9]{3}[ ]?[A-Za-z]{2}$"
      type: string
      description: |
        De door PostNL vastgestelde code die bij een bepaalde combinatie van een straatnaam en een huisnummer hoort.
      example: 2341SX
    Woonplaats:
      title: woonplaats naam
      pattern: "^[a-zA-Z0-9À-ž \\(\\)\\,\\.\\-\\']{1,80}$"
      type: string
      description: |
        Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam.
      example: Duiven
    Locatiebeschrijving:
      maxLength: 35
      type: string
      description: |
        Omschrijving van de ligging van een verblijfsobject, standplaats of ligplaats.
      example: Naast de derde brug
    Regel1:
      maxLength: 40
      type: string
      description: |
        Het eerste deel van een buitenlands adres. Vaak is dit een combinatie van de straat en huisnummer.
      example: 1600 Pennsylvania Avenue NW
    Regel2:
      maxLength: 50
      type: string
      description: |
        Het tweede deel van een buitenlands adres. Vaak is dit een combinatie van woonplaats eventueel in combinatie met de postcode.
      example: "Washington, DC 20500"
    Regel3:
      maxLength: 35
      type: string
      description: |
        Het derde deel van een buitenlands adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.
      example: Selangor
    AdresseerbaarObjectIdentificatie:
      pattern: "^[0-9]{16}$"
      type: string
      description: |
        De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn.
      example: "0226010000038820"
    NummeraanduidingIdentificatie:
      pattern: "^[0-9]{16}$"
      type: string
      description: |
        Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.
      example: "0518200000366054"
    GbaDatum:
      pattern: "^[0-9]{8}$"
      type: string
      example: "20180700"
    Waardetabel:
      type: object
      properties:
        code:
          pattern: "^[a-zA-Z0-9 \\.]+$"
          type: string
          example: "6030"
        omschrijving:
          pattern: "^[a-zA-Z0-9À-ž \\'\\,\\(\\)\\.\\-]{1,200}$"
          type: string
          example: Nederland
    NaamOpenbareRuimte:
      maxLength: 80
      type: string
    RniDeelnemer:
      type: object
      properties:
        deelnemer:
          $ref: '#/components/schemas/Waardetabel'
        omschrijvingVerdrag:
          $ref: '#/components/schemas/OmschrijvingVerdrag'
    OmschrijvingVerdrag:
      pattern: "^[a-zA-Z0-9À-ž \\.\\-\\']{1,50}$"
      type: string
      description: |
        Omschrijving van het verdrag op basis waarvan een zusterorganisatie in het buitenland de gegevens bij de RNI-deelnemer heeft aangeleverd.
    GbaInOnderzoek:
      required:
      - aanduidingGegevensInOnderzoek
      - datumIngangOnderzoek
      type: object
      properties:
        aanduidingGegevensInOnderzoek:
          pattern: "^[0-9]{6}$"
          type: string
        datumIngangOnderzoek:
          $ref: '#/components/schemas/GbaDatum'
        datumEindeOnderzoek:
          $ref: '#/components/schemas/GbaDatum'
  responses:
    "400":
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestFoutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
            title: Ten minste één parameter moet worden opgegeven.
            status: 400
            detail: The request could not be understood by the server due to malformed
              syntax. The client SHOULD NOT repeat the request without modification.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: paramsRequired
            invalidParams:
            - type: https://www.vng.nl/realisatie/api/validaties/integer
              name: huisnummer
              code: integer
              reason: Waarde is geen geldig getal.
    "401":
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
            title: Niet correct geauthenticeerd.
            status: 401
            detail: The request requires user authentication. The response MUST include
              a WWW-Authenticate header field (section 14.47) containing a challenge
              applicable to the requested resource.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: authentication
    "403":
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
            title: U bent niet geautoriseerd voor deze operatie.
            status: 403
            detail: "The server understood the request, but is refusing to fulfill\
              \ it."
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: autorisation
    "406":
      description: Not Acceptable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
            title: Gevraagde contenttype wordt niet ondersteund.
            status: 406
            detail: The resource identified by the request is only capable of generating
              response entities which have content characteristics not acceptable
              according to thr accept headers sent in the request
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: notAcceptable
    "415":
      description: Unsupported Media Type
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.16
            title: Unsupported Media Type
            status: 415
            detail: The server is refusing the request because the entity of the request
              is in a format not supported by the requested resource for the requested
              method.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: unsupported
    "429":
      description: Too Many Requests
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html
            title: Too many request
            status: 429
            detail: The user has sent too many requests in a given amount of time
              (rate limiting).
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: tooManyRequests
    "500":
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
            title: Interne server fout.
            status: 500
            detail: The server encountered an unexpected condition which prevented
              it from fulfilling the request.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: serverError
    "503":
      description: Service Unavailable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
          example:
            type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
            title: Bronservice BRP is tijdelijk niet beschikbaar.
            status: 503
            detail: The service is currently unable to handle the request due to a
              temporary overloading or maintenance of the server.
            instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
            code: notAvailable
    default:
      description: Er is een onverwachte fout opgetreden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Foutbericht'
  headers:
    warning:
      schema:
        maxLength: 500
        type: string
        description: "zie RFC 7234. In het geval een major versie wordt uitgefaseerd,\
          \ gebruiken we warn-code 299 (\"Miscellaneous Persistent Warning\") en het\
          \ API end-point (inclusief versienummer) als de warn-agent van de warning,\
          \ gevolgd door de warn-text met de human-readable waarschuwing"
        example: "299 https://service.../api/.../v1 \"Deze versie van de API is verouderd\
          \ en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie\
          \ hier de documentatie: https://omgevingswet.../api/.../v1\"."
    X_Rate_Limit_Limit:
      schema:
        type: integer
    X_Rate_Limit_Remaining:
      schema:
        type: integer
    X_Rate_Limit_Reset:
      schema:
        type: integer
