openapi: 3.0.3
servers:
  - description: "APILAB testserver historie"
    url: https://www.haalcentraal.nl/haalcentraal/api/brphistorie
info:
  title: BRP historie bevragen
  description: |
                API voor het zoeken en raadplegen van historische verblijfplaatsen, partners, nationaliteiten en verblijfstitels uit de BRP (inclusief de RNI).

                Zie de [Functionele documentatie](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen/tree/v1.0.0/features) voor nadere toelichting.
  version: 2.0.0
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRP-historie-bevragen
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
tags:
  - name: BRP historie bevragen
    description: Zoeken historische gegevens
paths:
  /verblijfplaatshistorie:
    post:
      description: |
        Raadpleeg de verblijfplaatshistorie van een persoon op de opgegeven peildatum of binnen de opgegeven periode.
        Het meest actuele adres staat bovenaan.

        Zoek met burgerservicenummer
      operationId: Verblijfplaatshistorie
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HistorieQuery"
      responses:
        '200':
          description: |
                        Zoekactie geslaagd
          headers:
            warning:
              $ref: "common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerblijfplaatshistorieQueryResponse"
        '400':
          $ref: "common.yaml#/components/responses/400"
        '401':
          $ref: "common.yaml#/components/responses/401"
        '403':
          $ref: "common.yaml#/components/responses/403"
        '406':
          $ref: "common.yaml#/components/responses/406"
        '415':
          $ref: 'common.yaml#/components/responses/415'
        '429':
          $ref: "common.yaml#/components/responses/429"
        '500':
          $ref: "common.yaml#/components/responses/500"
        '503':
          $ref: "common.yaml#/components/responses/503"
        'default':
          $ref: "common.yaml#/components/responses/default"
      tags:
        - BRP historie bevragen
# Daar waar mogelijk wordt nu verwezen naar componenten die in HC BRP Personen zijn gedefinieerd. Dat is echter alleen mogelijk als betreffende componenten zelf niet ook een $ref bevatten.
# Daar waar dat wel het geval is zijn de componenten in de openapi.yaml van HC BRP Historie gekopieerd.

# De vraag is of dit de gewenste aanpak is of dat we alle componenten lokaal binnen de openapi.yaml van HC BRP Historie moeten definiëren.
components:
  schemas:
    HistorieQuery:
      type: object
      required:
        - type
        - burgerservicenummer
        - fields
      discriminator:
        propertyName: type
        mapping:
          RaadpleegMetPeildatum: '#/components/schemas/RaadpleegMetPeildatum'
          RaadpleegMetPeriode: '#/components/schemas/RaadpleegMetPeriode'
      properties:
        type:
          type: string
        burgerservicenummer:
          $ref: "persoon.yaml#/components/schemas/Burgerservicenummer"
        exclusiefVerblijfplaatsBuitenland:
          type: boolean
          description: |
            consumers die niet zijn geautoriseerd voor verblijfplaats buitenland kunnen deze parameter gebruiken om alleen binnenlandse verblijfplaats voorkomens te vragen
    RaadpleegMetPeildatum:
      required:
        - peildatum
      allOf:
        - $ref: '#/components/schemas/HistorieQuery'
        - type: object
          properties:
            peildatum:
              type: string
              description: |
                De datum waarop de resource wordt opgevraagd.
              format: date
              example: 1964-09-24
    RaadpleegMetPeriode:
      required:
        - datumVan
        - datumTot
      allOf:
        - $ref: '#/components/schemas/HistorieQuery'
        - type: object
          properties:
            datumVan:
              type: string
              description: |
                De begindatum van de periode waarover de resource wordt opgevraagd.
              format: date
              example: 1964-09-24
            datumTot:
              type: string
              description: |
                De einddatum van de periode waarover de resource wordt opgevraagd.
              format: date
              example: 1964-09-24
    VerblijfplaatshistorieQueryResponse:
      type: object
      properties:
        verblijfplaatsen:
          type: array
          items:
            $ref: 'verblijfplaats-voorkomen.yaml#/components/schemas/AbstractVerblijfplaatsVoorkomen'
        geheimhoudingPersoonsgegevens:
          $ref: 'persoon.yaml#/components/schemas/GeheimhoudingPersoonsgegevens'
        opschortingBijhouding:
          $ref: 'opschortingbijhouding.yaml#/components/schemas/OpschortingBijhouding'
